// --------------------------------------------------
// ==> SCSS: Mixins
// --------------------------------------------------
// --> font-face
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;
	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);
	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);
	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}
	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

// --> font
@mixin font($family: null, $size, $weight, $style: null) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
}

// --> transition
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

// --> position
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// --> grid
@mixin grid($display, $template-columns, $align-items: center, $justify-items: center, $text-align: null) {
  display: $display;
  grid-template-columns: $template-columns;
  align-items: $align-items;
  justify-content: $justify-items;
  text-align: $text-align;
}

// --> perspective
@mixin perspective($value) {
  -webkit-perspective: $value;
  -moz-perspective: $value;
  -o-perspective: $value;
  perspective: $value;
}

// --> transform
@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
  transform: $value;
}

// --> transform-style
@mixin transform-style($value) {
  -webkit-transform-style: $value;
  -moz-transform-style: $value;
  -o-transform-style: $value;
  transform-style: $value;
}

// --> backface-visibility
@mixin backface-visibility($value) {
  -webkit-backface-visibility: $value;
  -moz-backface-visibility: $value;
  -moz-backface-visibility: $value;
  backface-visibility: $value;
}