// --------------------------------------------------
// ==> MODULES --> APP: import 
// --------------------------------------------------

@import 'partials/_variables';
@import 'partials/_functions';
@import 'partials/_placeholders';
@import 'partials/_mixins';
@import 'partials/_icons';
@import 'partials/_fonts';

// --------------------------------------------------
// ==> MODULES --> APP: global 
// --------------------------------------------------

html, body {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
}

svg {
  @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
}

// --------------------------------------------------
// ==> MODULES --> APP: footer 
// --------------------------------------------------

.footer {$name: "footer";

  &-singular {$type: "singular";

    &.#{$name}-container {$element: "container";
      padding: 1em 0;
      border-top: 1px solid var(--#{$name}-#{$type}-#{$element}-border);
      @include position($position: absolute, $right: 0, $bottom: 0, $left: 0);

      &.arrows {
        border-top: 0;
      }
    }

    .#{$name}-content {
      width: calc(100% - 2em);
      margin: 0 auto;

      &.arrows {
        width: calc((100% - 4em) - (24px * 2));

    z-index: 16166646464;
    position: fixed;
    bottom: 1em;
    left: calc(2em + 24px);

      }
    }

  }

  &-double {$type: "double";

    &.#{$name}-container {$element: "container";
      padding: 1em 0;
      border-top: 1px solid var(--#{$name}-#{$type}-#{$element}-border);
      @include position($position: absolute, $right: 0, $bottom: 0, $left: 0);
    }

    .#{$name}-content {
      width: calc(100% - 3em);
      margin: 0 auto;
    }

    .button {
      width: calc((100% / 2) - 0.5em);

      &:first-child {
        float: left;
      }

      &:last-child {
        float: right;
      }
    }

  }
}

// --------------------------------------------------
// ==> MODULES --> APP: header 
// --------------------------------------------------

.header {$name: "header";

  &-simple {$type: "simple";

    .row {

    }
    .col {

    }
    .title {

    }
  }

  &-statistics {$type: "statistics";

    &.#{$name}-container {$element: "container";
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: 5em;
      height: var(--#{$name}-#{$type}-#{$element}-height);
      background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
      @include position($position: absolute, $top: calc(var(--f7-navbar-height) + var(--f7-safe-area-top)), $right: 0, $bottom: 0, $left: 0);
      @extend %-pattern;
    }

    .#{$name}-row {$element: "row";
      width: calc(100% - 2em);
      box-shadow: var(--#{$name}-#{$type}-#{$element}-box-shadow) var(--#{$name}-#{$type}-#{$element}-background-color);
      background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
      border-radius: var(--#{$name}-#{$type}-#{$element}-border-radius);
      padding: 0;
    }

    .#{$name}-col {$element: "col";
      padding: 0.5em 0;
      width: calc(100% / 3);

      .#{$name}-type {
        color: var(--#{$name}-#{$type}-#{$element}-color);
      }
    }

    $statistics: ("known", "learning", "unknown");

    @each $variable in $statistics {

      .#{$name}-#{$variable} {

        .#{$name}-count {$element: "count";
          color: var(--#{$name}-#{$type}-#{$variable}-color);
          font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
          font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
        }

        .#{$name}-type {$element: "type"; 
          text-transform: lowercase;
          font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
          font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
        }

        .#{$name}-subtitle {$element: "subtitle";
          text-transform: lowercase;
          color: var(--#{$name}-#{$type}-#{$variable}-color);
          font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
          font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
        }
      }
    }
  }
}

// --------------------------------------------------
// ==> MODULES --> APP: list
// --------------------------------------------------

.list {$name: "list";

  &-categories {$type: "categories";
  
    &.#{$name}-container {
      margin: 0;
    }

    ul {$element: "ul";
      background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
      margin: 0 2em;

      &::before {
        content: none;
      }
    }

    .#{$name}-item {$element: "item";
      margin-bottom: 0.25em;
      background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
      border-radius: var(--#{$name}-#{$type}-#{$element}-border-radius);
      @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
      
      &:last-child {
        margin-bottom: 0 !important;
      }

      &.active {$element: "item-active";
        margin: 0 -0.5em 0.25em;
        background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
        @extend %-pattern;

        .item-icon {
          --app-icon: #FFFFFF;
          --app-primary: #FFFFFF;
        }

        .item-title {
          color: #FFFFFF;
        }

        .item-count {
          color: #FFFFFF !important;
        }

      }
    }

    .item-title {$element: "title";
      color: var(--#{$name}-#{$type}-#{$element}-color);
      font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
      font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
      @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
    }

    .item-after {$element: "after";

      $statistics: ("known", "learning", "unknown");

      @each $variable in $statistics {
        $i: index($statistics, $variable);

        .item-count:nth-child(#{$i}) {$element: "count";
          color: var(--header-statistics-#{$variable}-color);
          text-align: right;
          height: calc(var(--#{$name}-#{$type}-#{$element}-font-size) + 0.25em);
          line-height: calc(var(--#{$name}-#{$type}-#{$element}-font-size) + 0.25em);
          font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
          font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
          @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
        }
      }
    }
  }

  &-stepper, &-words {
    margin: 0;
    ul {
      margin: 0 1em;
      background-color: transparent;
      &::before {
        content: none;
      }
    }
    .list-item {
      border-radius: 10px;
      background-color: var(--app-background);
    }

    .item-title {
      color: var(--app-text);
      font-size: 14px;
      font-weight: 600;
      @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
    }
  }

}

// --------------------------------------------------
// ==> MODULES --> APP: stepper 
// --------------------------------------------------

.stepper {
  background: var(--app-background);

  .stepper-button-minus, .stepper-button-plus {
    background: var(--app-background);
    border: 0;
  }
  .stepper-button-plus:after, .stepper-button-minus:after, .stepper-button-plus:before, .stepper-button-minus:before {
    background-color: var(--app-text);
  }
  .stepper-input-wrap {
    border: 0;
    color: var(--app-title);
  }
}


// --------------------------------------------------
// ==> MODULES --> APP: navbar 
// --------------------------------------------------

.navbar {$name: "navbar";

  &-main {$type: "main";

    .#{$name}-bg {$element: "bg";
      background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
      @extend %-pattern;
    }

    .#{$name}-icon {$element: "icon";
      --app-icon: var(--#{$name}-#{$type}-#{$element}-color);
    }

    .#{$name}-title {$element: "title";
      width: 100%;
      color: var(--#{$name}-#{$type}-#{$element}-color);
      text-align: var(--#{$name}-#{$type}-#{$element}-text-align);
      font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
      font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
    }
  }

  &-popup {$type: "main";
  
    .#{$name}-bg {$element: "bg";
      background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
      @extend %-pattern;
    }

    .title {$element: "title";
      width: 100%;
      color: #FFF;
      text-align: left;
      font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
      font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
    }
    
  }
}

// --------------------------------------------------
// ==> MODULES --> APP: page
// --------------------------------------------------

.page {$name: "page";

  &[data-name="CategoryDetail"] {

    .#{$name}-content {$type: "content";
      background-color: var(--app-element);

      .#{$name}-container {$element: "container";
        height: auto;
        border-radius: var(--#{$name}-#{$type}-#{$element}-border-radius) var(--#{$name}-#{$type}-#{$element}-border-radius) 0 0;
        background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
        @include position(absolute, $top: calc((var(--f7-navbar-height) + var(--f7-safe-area-top)) + var(--header-statistics-container-height)), $right: 0, $bottom: calc(3em + var(--page-button-default-height)), $left: 0);
      }
    }

    .#{$name}-wrapper {
      overflow: auto;
      @include position($position: absolute, $top: calc(var(--page-content-container-border-radius) / 2), $right: 0, $bottom: 0, $left: 0);
    }
  }
  
  &[data-name="CategoryList"] {

    .#{$name}-content {$type: "content";
      background-color: var(--app-element);

      .#{$name}-container {$element: "container";
        height: auto;
        border-radius: var(--#{$name}-#{$type}-#{$element}-border-radius) var(--#{$name}-#{$type}-#{$element}-border-radius) 0 0;
        background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
        @include position(absolute, $top: calc((var(--f7-navbar-height) + var(--f7-safe-area-top)) + var(--header-statistics-container-height)), $right: 0, $bottom: calc(3em + var(--page-button-default-height)), $left: 0);
      }
    }

    .#{$name}-wrapper {
      overflow: auto;
      @include position($position: absolute, $top: calc(var(--page-content-container-border-radius) / 2), $right: 0, $bottom: 0, $left: 0);
    }
  }

  &[data-name="CollectionList"] {

    .page-content {
      background: var(--app-secondary);
      @extend %-pattern;
      @include position($position: absolute, $top: 0, $right: 0, $bottom: 80px, $left: 0);
      height: auto;
    }
    .page-title {
      color: var(--app-background) !important;
    }
    .footer-popup {
      @include position(fixed, $right: 0, $bottom: 0, $left: 0);
      background: var(--app-secondary);
      @extend %-pattern;
    }
  }
  &[data-name="Settings"] {

    .page-content {
      background: var(--app-secondary);
      @extend %-pattern;
      @include position($position: absolute, $top: 0, $right: 0, $bottom: 80px, $left: 0);
      height: auto;
    }
    .page-title {
      color: var(--app-background) !important;
    }
    .footer-popup {
      @include position(fixed, $right: 0, $bottom: 0, $left: 0);
      background: var(--app-secondary);
      @extend %-pattern;
    }
  }
  &[data-name="Training"] {

    .page-content {
      background: var(--app-element);
    }
    .view {
      height: 100%;
      background: var(--app-element);
    }

  }
  &[data-name="WordList"] {

    .page-content {
      background: var(--app-element);
    }

  }

  .#{$name}-content {$type: "content";

    .#{$name}-title {$element: "title";
      color: var(--#{$name}-#{$type}-#{$element}-color);
      text-transform: var(--#{$name}-#{$type}-#{$element}-text-transform);
      padding: calc((var(--page-content-container-border-radius) / 2)) 1em 1em;
      font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
      font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
    }
  }


  .#{$name}-button {$type: "button";

    &.#{$type}-next {
      @include button($type: "next", $pattern: "true");
    }

    &.#{$type}-training {
      @include button($type: "training", $pattern: "false");
    }

    &.#{$type}-practice {
      @include button($type: "practice", $pattern: "true");
    }  

    &.#{$type}-repeat {
      @include button($type: "repeat", $pattern: "true");
      margin: 1em 1em 0;
    }  

    &.#{$type}-show {
      @include button($type: "show", $pattern: "true");
      margin: 1em 1em 0;
    }
    &.#{$type}-examples {
      @include button($type: "examples", $pattern: "true");
    }
    &.#{$type}-no {
      @include button($type: "no", $pattern: "true");
    } 
    &.#{$type}-yes {
      @include button($type: "yes", $pattern: "true");
    }   
  }

  .#{$name}-mode {$type: "mode";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 1em 1em;
    
    .#{$type}-radio {$element: "radio";
      background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
      border-radius: var(--#{$name}-#{$type}-#{$element}-border-radius);
      width: calc(100% / 3);
      padding: 1em;
      --f7-touch-ripple-color: var(--app-ripple);
      @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));

      &:nth-child(2) {
        margin: 0 1em;
      }

      &.active {
        background-color: var(--app-primary);
        box-shadow: var(--#{$name}-#{$type}-#{$element}-box-shadow) var(--app-primary);
        @extend %-pattern;

        .#{$type}-label {
          color: #FFFFFF;
        }

        .#{$type}-icon {
          --app-icon: #FFFFFF;
          --app-primary: #FFFFFF;
        }

        .item-count {
          color: #FFFFFF !important;

          &::after {
            color: #FFFFFF !important;
          }
        }
      }
    }

    .#{$type}-input {
      @include appearance($value: none);
      margin: 0;
    }

    .#{$type}-icon {$element: "icon";
      @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
    }

    .#{$type}-label {$element: "label";
      display: block;
      margin: 0.5em 0;
      color: var(--#{$name}-#{$type}-#{$element}-color);
      font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
      font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
      @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
    }

    .#{$type}-statistics {
      .item-count {$element: "count";
        display: inline-block;
        font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
        font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
        @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
  
        &:nth-child(1) {
          color: var(--header-statistics-known-color);
  
          &::after {
            content: " / ";
            color: var(--app-text);
            @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
          }
        }
  
        &:nth-child(2) {
          color: var(--header-statistics-unknown-color);
        }
      }
    }
  }
}

.button-next {
  @include button($type: "next", $pattern: "true");
}
// -------------------------------------------------------------

.mode-read, .other-mode {
  background-color: var(--app-background);
  height: 25vh;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  border-top: 1px solid var(--app-border);
  border-bottom: 1px solid var(--app-border);
  text-align: center;

  .list-categories {
    ul {
      margin: 0 1em;
    }
  }
}

.mode-read {
  padding: 0 1em;
  .read-icon {
    text-align: right;
  }
}

.other-mode {
  .word {
    font-size: 24px;
  }
}

.read-div {
  background: var(--app-element);
}
.other-div {
  .word {
    padding: 0.5em 0;
  }
}

.menu-list {
  background: var(--app-element);
}

.popup-content {
  .col {
    width: 100%;
  }
}

.popup-container {
  @include position($position: absolute, $top: calc(var(--f7-navbar-height) + var(--f7-safe-area-top)), $bottom: 0);
}
.header-simple {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 0.5em 1em;
  color: var(--app-title);
}

.swiper-container {
  height: 100%;
}

.swiper-button-prev {
  position: fixed;
  bottom: 1em;
  left: 1em;
  top: auto;
}

.swiper-button-next {
  position: fixed;
  bottom: 1em;
  right: 1em;
  top: auto;
}

.swiper-button-prev, .swiper-button-next {
  &::after {content: none};
  z-index: 9999999999;
  svg {
    polyline {
      --app-icon: var(--app-title);
    }
  }
}

.word {
  font-size: 28px;
  font-weight: 700;
  color: var(--app-secondary);
}

.pronunciation {
  padding-bottom: 0.75em;
  font-size: 16px;
  font-weight: 400;
  color: var(--app-text);
  display: inline-block;
}

.about.popup, .error-feedback, .info-feedback {
  .popup-wrapper {
    @include position($position: absolute, $top: calc(var(--f7-navbar-height) + var(--f7-safe-area-top)), $right: 0, $bottom: 80px, $left: 0);
    height: auto;
    overflow: auto;
  }
  .footer-popup {
    @include position($position: absolute, $right: 0, $bottom: 0, $left: 0);
  }
}
.page-title span {
  float: right;

}

.sheet-modal {
  background: var(--app-element);

  .sheet-title {
    padding: 0 1em;
    height: calc(var(--f7-navbar-height) + var(--f7-safe-area-top));
    line-height: calc(var(--f7-navbar-height) + var(--f7-safe-area-top));
    color: #FFF;
    background: var(--app-primary);
    font-size: 18px;
    font-weight: 600;
  }

  .sheet-link {
    float: right;
    svg {
      margin-top: calc((var(--f7-navbar-height) + var(--f7-safe-area-top) - 24px) / 2);
    }
  }

  .list {
    margin: 1em 0;
    position: absolute;
    top: calc(var(--f7-navbar-height) + var(--f7-safe-area-top));
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    svg {
      margin-top: 0;
    }
  }


  
}

.wall {
  height: calc(75vh - calc(var(--f7-navbar-height) + var(--f7-safe-area-top)));
  background: var(--app-secondary);
  padding: 2em 1em;
  border-radius: 10px 10px 0 0;
  color: white;
  &::before {
    content: none !important;
  }
  .sheet-modal-inner {
    display: table;
    .wrapper-mode {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      .icon {
        margin-bottom: 2em;

        svg {
          float: none;
          margin: 0;
        }
      }
      span {
        font-size: 14px;
        font-weight: 700;
      }
    }

  }
}

input.translate {
  width: 100%;
  border: 0;
  background: #FFFFFF;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  color: var(--app-text);
}

.page-button {
  z-index: 899999999;
}

.read-title {
  font-size: 18px;
  font-weight: 500;
  color: var(--app-text);
  margin-bottom: 1em;
}

.other-div .page-title {
  text-align: center;
}

.other-mode {
  padding: 0.5em 0;
}

.result-div {
  text-align: center;
  margin-top: 2em;
  color: var(--app-title);
  font-size: 16px;
  font-weight: 500;
  &.wrong {
    .result {
      color: var(--app-error);
      font-size: 20px;
      font-weight: 700;
    }
    .this-word {
      display: block;
      color: var(--app-error);
      font-size: 20px;
    }
  }
  &.right {
    .result {
      color: var(--app-success);
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.content-mode {
  position: absolute;
  bottom: 0;
  top: calc(25vh + (calc(var(--f7-navbar-height) + var(--f7-safe-area-top))) + 2em + 24px);
  text-align: center;
  background: var(--app-element);
  width: 100%;
  &.result {
    background: var(--app-element);
  }
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3), 1fr));
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--app-primary);
    background: var(--app-background);
    width: calc(100vw - 30px);
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
    padding: 0;
    .col {
      width: 100%;
      padding: 30px 0;
      color: var(--app-primary);
      &.right {
        span {
          color: var(--app-success);
        }
      }
      &.wrong {
        span {
          color: var(--app-error);
        }
      }
      div {
        font-size: 15px;
        font-weight: 500;
        color: var(--app-title);
      }
      span {
        font-size: 15px;
        font-weight: 600;
        &.number {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}

.page-title {$name: "page"; $type: "content"; $element: "title";
  color: var(--#{$name}-#{$type}-#{$element}-color);
  text-transform: var(--#{$name}-#{$type}-#{$element}-text-transform);
  padding: calc((var(--page-content-container-border-radius) / 2)) 1em 0.75em;
  font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
  font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
}

.read-mode, .other-mode {
  text-align: center;
  display: table;
  width: 100%;
  &.without {
    margin-top: 0;
  }
  &.recap {
    background: #FFF;
    margin: 0;
    padding: 0;
    height: 30vh;
    width: calc(100vw - 2em);
    margin: 0 auto;
    .read-div {
      vertical-align: bottom;
    }
  }
  div {
    .read-content {
      margin-top: 7.5px;
    }
  }
  .read-div, .other-div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.title-recapitulation {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  border-radius: 15px 15px 0 0;
  padding: 1em;

  svg {
    display: block;
    margin: 0 auto 15px auto;
  }
}

.count-word {
  margin: 1em;
  display: block;
  color: var(--app-text);
  font-size: 16px;
  font-weight: 600;
  text-align: right;
}
.collection-list {
  margin: 0 1em;
  .item-title {
    color: var(--app-title);
  }
  .item-text {
    color: var(--app-text);
  }
  .accordion-item-content {
    p {
      color: var(--app-title);
    }
  }
  .item-link {
    &:last-child {
      border-radius: 0 0 10px 10px;
    }
  }
  .accordion-item-opened {
    .item-link {
      border-radius: 0!important;
    }
  }
  .media-item {
    background: var(--app-background);
    margin-bottom: 0.25em;
    &:last-child {
      margin-bottom: 0;
      .accordion-item-content {
        border-radius: 0 0 10px 10px;
      }
    }
    .button {
      margin-bottom: 1em;
    }
  }
}

.settings-list {
  margin: 0 1em;
  .list {
    color: var(--app-title);

  }
}

.accordion-item-opened {
  background: transparent;
  .item-link {
    @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));

  }
  .item-title {
    color: var(--app-title);
  }
  .item-text {
    color: var(--app-text);
  }
  .item-title-row {
    &:before {
      color: var(--app-title);
    }
  }
}

input:focus::placeholder {
  color: transparent;
}

.word-item {
  background: var(--app-background);
  margin-bottom: 0.25em;
  .item-title {
    color: var(--app-text);
    padding-left: 1em;
  }
}
.media-list .accordion-item-opened > .item-link .item-title-row:before {
  color: var(--app-title);
}
.toolbar {
  .link {
    color: white;
    font-weight: 700;
  }
  .row {
    background: var(--app-secondary);
    width: 100%;
    text-align: center;
    padding: 0;
    border-radius: 0;
    align-items: center;
    .col:nth-child(2) {     
      color: white;
      font-weight: 700;
    }
  }
}

.word-button {
  margin: 1em;
  background: var(--app-primary);
  box-shadow: 0 0 0.25em var(--app-primary);

}

.list-words {
  overflow: hidden;
  --f7-touch-ripple-color: transparent !important;
  svg {
    float: right;
  }
  .item-checkbox {
    padding-left: 0!important;
    --f7-touch-ripple-color: transparent !important;
    &.active-state {
      background: white;
    }
  }
  .icon-checkbox {
    margin-right: 0 !important;
  }
}


.popup-content {
  padding: 0 1em;
  .col {
    margin-bottom: 0.5em;
    color: var(--app-text);
    font-size: 15px;
    font-weight: 400;
    &:last-child {
      text-align: center;
      margin-top: 1em;
      color: var(--app-primary);
    }
  }
}

.footer-popup {
  text-align: center;
  color: #FFF;
  font-size: 16px;
  padding: 1em;
  span:nth-child(1) {
    display: block;
  }
}
.list-feedback {
  margin: 0;
}

.text-random {
  color: var(--app-title);
  margin-top: 1em;
  a {
    width: 100%;
    display: block;
    font-weight: 700;
    text-align: center;
    margin-top: 1em;
    color: var(--app-text);
  }
}

.collection-list {
  ul {
    border-radius: 10px;
  }
  .accordion-item-content {
    background: #FFF;
  }

  li {
    margin-bottom: 0 !important;
    &:first-child {
      border-radius: 10px 10px 0 0;
      .item-link {
        border-radius: 10px 10px 0 0!important;
      }
    }
    &:last-child {
      border-radius: 0 0 10px 10px;
      .item-link {
        border-radius: 0 0 10px 10px;
      }
    }
    &.accordion-item {
      background: var(--app-element);
    }
  }
  .item-link {
    background: var(--app-element);
    
  }
  .item-title-row {
    &:before {
      color: var(--app-title);
    }
  }
}

.collection-list {
  .button {
    border-radius: 10px;
  }
}

.settings-list {
  ul {
    border-radius: 10px;
  }
}

.about.popup, .error-feedback.popup, .info-feedback {
  overflow: auto;
  background: var(--app-secondary);
  @extend %-pattern;
  .button {
    background-color: var(--app-success);
    color: white;
    box-shadow: 0 0 0.25em var(--app-success);
    margin-top: 2em;
  }
}
  .page-title {
    color: white;

  }
  .row {
    background: white;
    padding: 1em;
    border-radius: 10px;
  }
  ul {
    border-radius: 10px;
  }

.info-feedback, .error-feedback.popup {
  .popup-content {
    background: white;
    margin: 0 1em;
    border-radius: 10px;
    padding: 1em;
  } 
  .list {
    margin: 0;
    ul {
      &:before, &:after {
        content: none;
      }
    }
  }
}

.bottom-navigation {

  $bottom-navigation: (
    "training": secondary,
    "repetition": warning,
    "exam": error
  );

  $bottom-navigation-top-border-radius: 17px;
  $bottom-navigation-bottom-border-radius: 5px;

  background: white;
  @include position($position: fixed, $right: 0, $bottom: 0, $left: 0);
  margin-bottom: -55px;
  z-index: 10000;
  border-radius: $bottom-navigation-top-border-radius $bottom-navigation-top-border-radius 0 0;
  transition: margin-bottom 350ms ease-in-out;
  &.activated {
    margin-bottom: 0;
  }
  .row {
    padding: 0;
    text-align: center;
    border-radius: inherit;
    border-top: 1px solid var(--app-border);
    &:last-child {
      border-top: 1px solid var(--app-border);
      border-radius: $bottom-navigation-bottom-border-radius $bottom-navigation-bottom-border-radius 0 0;
      .col {
        padding: 9px 0 0;
        .button {
          color: white;
          font-size: 13px;
          font-weight: 700;
          height: 36px;
          line-height: 36px;
          border-radius: 10px;
          transition: all 350ms ease-in-out;
          margin: 0 auto 9px;
          width: 50%;
        }
        p {
          font-size: 13px;
          margin: 0 auto;
          display: flex;
          transition: all 350ms ease-in-out;
          align-items: center;
          justify-content: center;
          height: 0;
          color: var(--app-text);
          opacity: 0;
          width: calc(100% - 4em);
          &.selected {
            height: 100px;
            padding: 1em 0;
            opacity: 1;
          }
        }
      }

      @each $type, $color in $bottom-navigation {
        &.#{$type} {
          .button {
            background: var(--app-#{$color});
            box-shadow: 0 0 5px var(--app-#{$color});
          }
          p.#{$type} {
            padding: 1em;
          }
        }
      }
    }
  }
  .col {
    padding: 9px 0;
    z-index: 100000;
    --f7-touch-ripple-color: rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    &:first-child {
      border-radius: $bottom-navigation-top-border-radius 0 0 0;
    }
    &:last-child {
      border-radius: 0 $bottom-navigation-top-border-radius 0 0;
    }

    @each $type, $color in $bottom-navigation {
      &.mode-#{$type} {
        &.selected {
          .navigation-icon {
            --app-icon: var(--app-#{$color});
          }
          span {
            color: var(--app-#{$color});
          }
        }
      }
    }
  }
  .navigation-icon {
    --app-icon: #CDDAE2;
  }
  span {
    display: block;
    color: var(--app-text);
    text-transform: uppercase;
    font-size: 10px;
    transition: all 350ms ease-in-out;
    font-weight: 600;
  }
}

.recapitulation {

  $recapitulation: (
    "known": success, 
    "all": primary, 
    "unknown": error
  );

  $score: (
    "5": recap-5,
    "4": recap-4,
    "3": recap-3,
    "2": recap-2,
    "1": recap-1
  );

  background: white;
  border-bottom: 1px solid var(--app-border);
  border-radius: 0 0 50px 50px;
  text-align: center;
  padding: 1em;
  height: 45vh;
  .title {
    margin-bottom: 1em;
    span:first-child {
      display: block;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
    }
    span:last-child {
      color: var(--app-text);
      font-size: 18px;
      font-weight: 600;
    }
    &[data-mode="exam"] {
      span:first-child {
        color: var(--app-error);
      }
    }
    &[data-mode="repetition"] {
      span:first-child {
        color: var(--app-warning);
      }
    }
  }
  .score {
    @each $number, $color in $score {
      div[data-stars="#{$number}"] {
        background: var(--app-#{$color});
        border-radius: 10px;
        padding: 0.5em;
        box-shadow: 0 0 5px var(--app-#{$color});
        svg {
          display: block;
          margin: 0 auto;
        }
        span {
          color: white;
          font-size: 16px;
          margin-top: 0.5em;
          display: block;
          font-weight: 600;
        }
      }
    }
  }
  .row {
    border-radius: initial;
    background: transparent;
  }
  .col {
    span {
      display: block;
    }
    @each $type, $color in $recapitulation {
      &.#{$type} {
        span:nth-child(1) {
          font-size: 20px;
          font-weight: 600;
          color: var(--app-#{$color});
        }
        span:nth-child(2) {
          font-size: 14px;
          font-weight: 400;
          color: var(--app-title);
        }
        span:nth-child(3) {
          font-size: 16px;
          font-weight: 600;
          color: var(--app-#{$color});
        }        
      }
    }
  }
}
.recapitulation-text {
  margin: 1em auto;
  font-size: 14px;
  color: var(--app-text);
  padding: 0 1em;
  text-align: center;
  span {
    font-weight: 600;
    color: var(--app-title);
  }
}

.volume-block {
  float: right;
  padding: 1em;
  margin: 0 0 0 100%;
  width: auto;
}

.mode-read {
  .switch-icon {
    position: absolute;
    left: 1em;
  }
  .read-icon {
    position: absolute;
    right: 1em;
  }
}

.personal-navigation {
  background: white;
  @include position($position: fixed, $right: 0, $bottom: 0, $left: 0);
  margin-bottom: 0;
  z-index: 10000;
  border-radius: 0;
  transition: margin-bottom 350ms ease-in-out;
  &.opened {
    .col.add-button {
      bottom: 186px;
    }
    .row:first-child {
      height: 58px;
      .col {
        padding: 0;
        visibility: hidden;
        bottom: 0;
        &.active {
          bottom: -57px;
        }
        .button {
          display: none;
        }
      }
    }
    .category-add.opened {
      bottom: 0!important;
    }
  }
  .row {
    padding: 0;
    text-align: center;
    border-radius: inherit;
    border-top: 1px solid var(--app-border);
    transition: all 350ms ease-in-out;
    &.closed {
      height: 0;
    }
    &.opened {
      height: 150px;
      padding: 1em;
    }
    &:last-child {
      display: flex;
      border-radius: 0;
      justify-content: center;
      align-items: center;
      text-align: center;
      .category-name {
        width: 100%;
        font-size: 14px;
        text-transform: unset;
      }
      input {
        background: var(--app-element);
        border: 1px solid var(--app-border);
        padding: 0.5em;
        text-align: center;
        margin: 1em;
        border-radius: 10px;
        width: 75%;
        color: var(--app-title);
      }
      .wrapper {
        width: 100%;
        .button {
          display: inline-block;
          color: white;
          font-size: 13px;
          font-weight: 700;
          height: 36px;
          line-height: 36px;
          border-radius: 10px;
          transition: all 350ms ease-in-out;
          margin: 4.5px 0 0 0;
          width: calc((100% / 2) - 1em);
          border: 1px solid transparent;
          &:first-child {
            background: transparent;
            color: var(--app-secondary);
            border: 1px solid var(--app-secondary);
            float: left;
          }
          &:last-child {
            background-color: var(--app-secondary);
            box-shadow: 0 0 0.25em var(--app-secondary);
            float: right;
            @extend %-pattern;
          }
        }
      }
    }
  }
  .col {
    padding: 9px 0;
    z-index: 100000;
    --f7-touch-ripple-color: rgba(0, 0, 0, 0.1);
    position: relative;
    transition: visibility 0ms 350ms ease-in-out, bottom 350ms ease-in-out;
    overflow: hidden;
    &.add-button {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 1em;
    }
    &:first-child {
      border-radius: 17px 0 0 0;
      padding-right: 33px;
    }
    &:last-child {
      border-radius: 0 17px 0 0;
      padding-left: 33px;
    }
    &.inactive {
      bottom: -57px;
    }
    &.active {
      bottom: 0;
    }
    .button {
      display: inline-block;
      color: white;
      font-size: 13px;
      font-weight: 700;
      height: 36px;
      line-height: 36px;
      border-radius: 10px;
      transition: all 350ms ease-in-out;
      margin: 4.5px 0 0 0;
      width: 100%;
      border: 1px solid transparent;
      &.edit {
        background: transparent;
        color: var(--app-secondary);
        border: 1px solid var(--app-secondary);
        float: left;
        margin: 0 2em 0 1em;
      }
      &.continue {
        background-color: var(--app-secondary);
        box-shadow: 0 0 0.25em var(--app-secondary);
        float: right;
        margin: 0 1em 0 2em;
        @extend %-pattern;
      }
      &.add {
        background-color: var(--app-secondary);
        box-shadow: 0 0 0.25em var(--app-secondary);
        margin: 0 auto;
        @extend %-pattern;        
      }
    }
  }
  span {
    display: block;
    color: var(--app-text);
    text-transform: uppercase;
    font-size: 10px;
    transition: all 350ms ease-in-out;
    font-weight: 600;
  }
  .personal-icon {
    --app-icon: #CDDAE2;
  }
}

::placeholder {
  color: var(--app-text);
}
::-moz-placeholder {
  color: var(--app-text);
  opacity: 1;
}

.personal-panel {
  background: white;
  @include position($position: fixed, $right: 0, $bottom: 0, $left: 0);
  margin-bottom: 0;
  z-index: 10000;
  border-radius: 17px 17px 0 0;
  transition: margin-bottom 350ms ease-in-out;
  .row {
    padding: 0;
    text-align: center;
    border-radius: inherit;
    border-top: 1px solid var(--app-border);
    transition: all 350ms ease-in-out;
    &:last-child {
      padding: 0;
      height: 0;
      &.opened {
        height: 150px;
        padding: 1em;
        .col {
          &.selected {
            height: 150px;
            opacity: 1;
          }
        }
      }
      .col {
        height: 0;
        opacity: 0;
        width: 100%;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        transition: all 350ms ease-in-out;
        span {
          width: 100%;
          font-size: 14px;
          text-transform: unset;
        }
      }
    }
    .col {
      padding: 9px 0;
      z-index: 100000;
      --f7-touch-ripple-color: rgba(0, 0, 0, 0.1);
      position: relative;
      transition: all 350ms ease-in-out;
      overflow: hidden;
      &:first-child {
        border-radius: 17px 0 0 0;
        padding-right: 33px;
        svg {
          --app-icon: var(--app-error);
        }
      }
      &:last-child {
        border-radius: 0 17px 0 0;
        padding-left: 33px;
        svg {
          --app-icon: var(--app-success);
        }
      }
      &:nth-child(1) {
        .button {
          &:first-child {
            background: transparent;
            color: var(--app-error);
            border: 1px solid var(--app-error);
          }
          &:last-child {
            background-color: var(--app-error);
            box-shadow: 0 0 0.25em var(--app-error);
          }
        }
      }
      &:nth-child(2) {
        .button {
          &:first-child {
            background: transparent;
            color: var(--app-secondary);
            border: 1px solid var(--app-secondary);
          }
          &:last-child {
            background-color: var(--app-secondary);
            box-shadow: 0 0 0.25em var(--app-secondary);
          }
        }
      }
      &:nth-child(3) {
        .button {
          &:first-child {
            background: transparent;
            color: var(--app-success);
            border: 1px solid var(--app-success);
          }
          &:last-child {
            background-color: var(--app-success);
            box-shadow: 0 0 0.25em var(--app-success);
          }
        }
      }
      span {
        display: block;
        color: var(--app-text);
        text-transform: uppercase;
        font-size: 10px;
        transition: all 350ms ease-in-out;
        font-weight: 600;
      }
      input {
        background: var(--app-element);
        border: 1px solid var(--app-border);
        padding: 0.5em;
        text-align: center;
        margin: 1em;
        border-radius: 10px;
        width: 75%;
        color: var(--app-title);
      }
      .buttons {
        position: absolute;
        bottom: 0em;
        width: calc(100% - 1em);
        margin: 0 auto;
        .button {
          display: inline-block;
          color: white;
          font-size: 13px;
          font-weight: 700;
          height: 36px;
          line-height: 36px;
          border-radius: 10px;
          transition: all 350ms ease-in-out;
          margin: 4.5px 0 0 0;
          width: calc((100% / 2) - 1em);
          &.cancel {
            float: left;
          }
          &.confirm {
            float: right;
            @extend %-pattern;
          }
        }  
      }
    }
  } 
  .button-add {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto 12.25px;
    width: 48px;
    height: 48px;
    background: var(--app-element);
    border-radius: 50%;
    padding: 8px;
    transition: all 350ms ease-in-out;
    z-index: 999999;
    &.active {
      margin-bottom: calc(12.25px + 150px + 2em);
    }
    svg {
      padding: 16px;
      --app-icon: white;
      border-radius: 50%;
      background: var(--app-secondary);
    }
  }
}

.personal-list {
  margin: 0;
  ul:before {
    content: none;
  }
  li {
    background: var(--app-element);
    margin: 0 1em 0.25em;
    border-radius: 10px;
    color: var(--app-text);
    .edit-icon {
      display: flex;
    }
  }
}

.personal-page {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 76px;
  overflow: auto;
  top: 56px;
  padding-top: 1em;
  height: auto;
  .page-title {
    color: var(--app-title);
  }
}