// --------------------------------------------------
// ==> MODULES --> APP: import 
// --------------------------------------------------

@import 'partials/_variables';
@import 'partials/_functions';
@import 'partials/_placeholders';
@import 'partials/_mixins';
@import 'partials/_icons';
@import 'partials/_fonts';

// --------------------------------------------------
// ==> MODULES --> APP: global 
// --------------------------------------------------

html, body {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
}

svg {
  @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
}

// --------------------------------------------------
// ==> MODULES --> APP: footer 
// --------------------------------------------------

.footer {$name: "footer";

  &-singular {$type: "singular";

    &.#{$name}-container {$element: "container";
      padding: 1em 0;
      border-top: 1px solid var(--#{$name}-#{$type}-#{$element}-border);
      @include position($position: absolute, $right: 0, $bottom: 0, $left: 0);
    }

    .#{$name}-content {
      width: calc(100% - 2em);
      margin: 0 auto;
    }

  }

  &-double {$type: "double";

    &.#{$name}-container {$element: "container";
      padding: 1em 0;
      border-top: 1px solid var(--#{$name}-#{$type}-#{$element}-border);
      @include position($position: absolute, $right: 0, $bottom: 0, $left: 0);
    }

    .#{$name}-content {
      width: calc(100% - 3em);
      margin: 0 auto;
    }

    .button {
      width: calc((100% / 2) - 0.5em);

      &:first-child {
        float: left;
      }

      &:last-child {
        float: right;
      }
    }

  }
}

// --------------------------------------------------
// ==> MODULES --> APP: header 
// --------------------------------------------------

.header {$name: "header";

  &-simple {$type: "simple";

    .row {

    }
    .col {

    }
    .title {

    }
  }

  &-statistics {$type: "statistics";

    &.#{$name}-container {$element: "container";
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: 5em;
      height: var(--#{$name}-#{$type}-#{$element}-height);
      background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
      @include position($position: absolute, $top: calc(var(--f7-navbar-height) + var(--f7-safe-area-top)), $right: 0, $bottom: 0, $left: 0);
      @extend %-pattern;
    }

    .#{$name}-row {$element: "row";
      width: calc(100% - 2em);
      box-shadow: var(--#{$name}-#{$type}-#{$element}-box-shadow) var(--#{$name}-#{$type}-#{$element}-background-color);
      background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
      border-radius: var(--#{$name}-#{$type}-#{$element}-border-radius);
    }

    .#{$name}-col {$element: "col";
      padding: 0.5em 0;
      width: calc(100% / 3);

      .#{$name}-type {
        color: var(--#{$name}-#{$type}-#{$element}-color);
      }
    }

    $statistics: ("known", "learning", "unknown");

    @each $variable in $statistics {

      .#{$name}-#{$variable} {

        .#{$name}-count {$element: "count";
          color: var(--#{$name}-#{$type}-#{$variable}-color);
          font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
          font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
        }

        .#{$name}-type {$element: "type"; 
          text-transform: lowercase;
          font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
          font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
        }

        .#{$name}-subtitle {$element: "subtitle";
          text-transform: lowercase;
          color: var(--#{$name}-#{$type}-#{$variable}-color);
          font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
          font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
        }
      }
    }
  }
}

// --------------------------------------------------
// ==> MODULES --> APP: list
// --------------------------------------------------

.list {$name: "list";

  &-categories {$type: "categories";
  
    &.#{$name}-container {
      margin: 0;
    }

    ul {$element: "ul";
      background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
      margin: 0 2em;

      &::before {
        content: none;
      }
    }

    .#{$name}-item {$element: "item";
      margin-bottom: 0.25em;
      background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
      border-radius: var(--#{$name}-#{$type}-#{$element}-border-radius);
      @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
      
      &:last-child {
        margin-bottom: 0 !important;
      }

      &.active {$element: "item-active";
        margin: 0 -0.5em 0.25em;
        background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
        @extend %-pattern;

        .item-icon {
          --app-icon: #FFFFFF;
          --app-primary: #FFFFFF;
        }

        .item-title {
          color: #FFFFFF;
        }

        .item-count {
          color: #FFFFFF !important;
        }

      }
    }

    .item-title {$element: "title";
      color: var(--#{$name}-#{$type}-#{$element}-color);
      font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
      font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
      @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
    }

    .item-after {$element: "after";

      $statistics: ("known", "learning", "unknown");

      @each $variable in $statistics {
        $i: index($statistics, $variable);

        .item-count:nth-child(#{$i}) {$element: "count";
          color: var(--header-statistics-#{$variable}-color);
          text-align: right;
          height: calc(var(--#{$name}-#{$type}-#{$element}-font-size) + 0.25em);
          line-height: calc(var(--#{$name}-#{$type}-#{$element}-font-size) + 0.25em);
          font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
          font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
          @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
        }
      }
    }
  }

  &-stepper, &-words {
    margin: 0;
    ul {
      margin: 0 1em;
      background-color: transparent;
      &::before {
        content: none;
      }
    }
    .list-item {
      border-radius: 10px;
      background-color: var(--app-element);
    }

    .item-title {
      color: var(--app-text);
      font-size: 14px;
      font-weight: 600;
      @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
    }
  }

}

// --------------------------------------------------
// ==> MODULES --> APP: stepper 
// --------------------------------------------------

.stepper {
  background: var(--app-element);

  .stepper-button-minus, .stepper-button-plus {
    background: var(--app-element);
    border: 0;
  }
  .stepper-button-plus:after, .stepper-button-minus:after, .stepper-button-plus:before, .stepper-button-minus:before {
    background-color: var(--app-text);
  }
  .stepper-input-wrap {
    border: 0;
    color: var(--app-title);
  }
}


// --------------------------------------------------
// ==> MODULES --> APP: navbar 
// --------------------------------------------------

.navbar {$name: "navbar";

  &-main {$type: "main";

    .#{$name}-bg {$element: "bg";
      background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
      @extend %-pattern;
    }

    .#{$name}-icon {$element: "icon";
      --app-icon: var(--#{$name}-#{$type}-#{$element}-color);
    }

    .#{$name}-title {$element: "title";
      width: 100%;
      color: var(--#{$name}-#{$type}-#{$element}-color);
      text-align: var(--#{$name}-#{$type}-#{$element}-text-align);
      font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
      font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
    }
  }

  &-popup {$type: "popup";
  
  }
}

// --------------------------------------------------
// ==> MODULES --> APP: page
// --------------------------------------------------

.page {$name: "page";

  &[data-name="CategoryDetail"] {

    .#{$name}-content {$type: "content";

      .#{$name}-container {$element: "container";
        height: auto;
        border-radius: var(--#{$name}-#{$type}-#{$element}-border-radius) var(--#{$name}-#{$type}-#{$element}-border-radius) 0 0;
        background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
        @include position(absolute, $top: calc((var(--f7-navbar-height) + var(--f7-safe-area-top)) + var(--header-statistics-container-height)), $right: 0, $bottom: calc(3em + var(--page-button-default-height)), $left: 0);
      }
    }

    .#{$name}-wrapper {
      overflow: auto;
      @include position($position: absolute, $top: calc(var(--page-content-container-border-radius) / 2), $right: 0, $bottom: 0, $left: 0);
    }
  }
  
  &[data-name="CategoryList"] {

    .#{$name}-content {$type: "content";

      .#{$name}-container {$element: "container";
        height: auto;
        border-radius: var(--#{$name}-#{$type}-#{$element}-border-radius) var(--#{$name}-#{$type}-#{$element}-border-radius) 0 0;
        background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
        @include position(absolute, $top: calc((var(--f7-navbar-height) + var(--f7-safe-area-top)) + var(--header-statistics-container-height)), $right: 0, $bottom: calc(3em + var(--page-button-default-height)), $left: 0);
      }
    }

    .#{$name}-wrapper {
      overflow: auto;
      @include position($position: absolute, $top: calc(var(--page-content-container-border-radius) / 2), $right: 0, $bottom: 0, $left: 0);
    }
  }

  &[data-name="CollectionList"] {}
  &[data-name="Settings"] {}
  &[data-name="Training"] {}
  &[data-name="WordList"] {}

  .#{$name}-content {$type: "content";

    .#{$name}-title {$element: "title";
      color: var(--#{$name}-#{$type}-#{$element}-color);
      text-transform: var(--#{$name}-#{$type}-#{$element}-text-transform);
      padding: calc((var(--page-content-container-border-radius) / 2)) 1em 1em;
      font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
      font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
    }
  }


  .#{$name}-button {$type: "button";

    &.#{$type}-next {
      @include button($type: "next", $pattern: "true");
    }

    &.#{$type}-training {
      @include button($type: "training", $pattern: "false");
    }

    &.#{$type}-practice {
      @include button($type: "practice", $pattern: "true");
    }  

    &.#{$type}-show {
      @include button($type: "show", $pattern: "true");
      margin: 1em 1em 0;
    }
  }

  .#{$name}-mode {$type: "mode";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 1em;
    
    .#{$type}-radio {$element: "radio";
      background-color: var(--#{$name}-#{$type}-#{$element}-background-color);
      border-radius: var(--#{$name}-#{$type}-#{$element}-border-radius);
      width: calc(100% / 3);
      padding: 1em;
      --f7-touch-ripple-color: var(--app-ripple);
      @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));

      &:nth-child(2) {
        margin: 0 1em;
      }

      &.active {
        background-color: var(--app-primary);
        box-shadow: var(--#{$name}-#{$type}-#{$element}-box-shadow) var(--app-primary);
        @extend %-pattern;

        .#{$type}-label {
          color: #FFFFFF;
        }

        .#{$type}-icon {
          --app-icon: #FFFFFF;
          --app-primary: #FFFFFF;
        }

        .item-count {
          color: #FFFFFF !important;

          &::after {
            color: #FFFFFF !important;
          }
        }
      }
    }

    .#{$type}-input {
      @include appearance($value: none);
      margin: 0;
    }

    .#{$type}-icon {$element: "icon";
      @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
    }

    .#{$type}-label {$element: "label";
      display: block;
      margin: 0.5em 0;
      color: var(--#{$name}-#{$type}-#{$element}-color);
      font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
      font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
      @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
    }

    .#{$type}-statistics {
      .item-count {$element: "count";
        display: inline-block;
        font-size: var(--#{$name}-#{$type}-#{$element}-font-size);
        font-weight: var(--#{$name}-#{$type}-#{$element}-font-weight);
        @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
  
        &:nth-child(1) {
          color: var(--header-statistics-known-color);
  
          &::after {
            content: " / ";
            color: var(--app-text);
            @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function), $delay: var(--app-transition-delay));
          }
        }
  
        &:nth-child(2) {
          color: var(--header-statistics-unknown-color);
        }
      }
    }
  }
}

// -------------------------------------------------------------

.mode-read {
  background-color: var(--app-element);
  height: 20vh;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  text-align: center;

  .word, .pronunciation {

  }
}