// --------------------------------------------------
// ==> PARTIALS --> MIXINS: Font-face
// --------------------------------------------------

@mixin font-face($family: null, $src: null, $weight: null) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    src: url('../fonts/#{$src}.ttf') format('truetype');
  }
}

// --------------------------------------------------
// ==> PARTIALS --> MIXINS: Font
// --------------------------------------------------

@mixin font($family: null, $size: null, $weight: null, $style: null) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
}

// --------------------------------------------------
// ==> PARTIALS --> MIXINS: Position
// --------------------------------------------------

@mixin position($position: null, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// --------------------------------------------------
// ==> PARTIALS --> MIXINS: Transition
// --------------------------------------------------

@mixin transition($property: null, $duration: null, $timing-function: null, $delay: null) {
  -webkit-transition: $property $duration $timing-function $delay;
  -moz-transition: $property $duration $timing-function $delay;
  -ms-transition: $property $duration $timing-function $delay;
  -o-transition: $property $duration $timing-function $delay;
  transition: $property $duration $timing-function $delay;
}

// --------------------------------------------------
// ==> PARTIALS --> MIXINS: Button
// --------------------------------------------------

@mixin button($type: null) {
  background-color: var(--button-#{$type}--background-color);
  color: var(--button-#{$type}--color);
  height: var(--button-#{$type}--height);
  line-height: var(--button-#{$type}--height);
  border-radius: var(--button-#{$type}--border-radius);
  box-shadow: var(--button-#{$type}--box-shadow) var(--button-#{$type}--background-color);
  @include font($size: var(--button-#{$type}--font-size), $weight: var(--button-#{$type}--font-weight));
  @extend %-pattern;
}