// --------------------------------------------------
// ==> SCSS: App
// --------------------------------------------------
// --> Footer
.footer {
  @include position(absolute, null, 0, 0, 0);
  width: 100%;
  background: var(--theme);
  border-top: 1px solid var(--border);
  .button {
    color: #FFFFFF;
    @include font(null, 11px, 800);
    margin: 0 auto;
    background: var(--app);
    width: calc(100vw - 30px);
    bottom: calc(var(--f7-button-height) / 2);
    line-height: calc(var(--f7-button-height) + 4px);
    box-shadow: 0 0 7.5px var(--core);
    --f7-touch-ripple-color: var(--f7-touch-ripple-white);
    border-radius: 25px;
    &.active-state {
      color: #FFFFFF;
    }
  }
  &.two {
    .button {
      width: calc((100% / 2) - 30px);
      display: inline-block;
      &:nth-child(1) {
        float: Left;
        left: 15px;
      }
      &:nth-child(2) {
        float: right;
        right: 15px;
      }
    }
  }
}