// --------------------------------------------------
// ==> SCSS: App
// --------------------------------------------------
// --> Global
html, body {
  @include font('Exo', null, 400);
}
.device-cordova.device-ios {
  height: 100vh;
}
    
// --> Page
.page-content {
    background: var(--core);
    padding-top: calc(var(--f7-navbar-height) + var(--f7-safe-area-top));
}

// --> View
.view {
  &.CategoryList, &.CategoryDetail {
    @include position(absolute, calc((((var(--f7-navbar-height) + var(--f7-safe-area-top)) + (var(--f7-navbar-height) + var(--f7-safe-area-top)) / 2) + 85px) + 7.5px), 0, calc(39px * 2), 0);
    width: auto;
    overflow: auto;
    padding: 15px 15px 0 15px;
    height: auto;
    border-radius: 15px 15px 0 0;
    background: var(--core);
    overflow-x: hidden;
  }
  &.settings {
    @include position(absolute, calc(((var(--f7-navbar-height) + var(--f7-safe-area-top)) + (var(--f7-navbar-height) + var(--f7-safe-area-top)) / 2) - 7.5px), 0, 0, 0);
    width: auto;
    overflow: auto;
    padding: 15px 15px 0 15px;
    height: auto;
    border-radius: 15px 15px 0 0;
    background: var(--core);
    overflow-x: hidden;
  }
}

// --> Title
.block-title {
  text-transform: uppercase;
  @include font(null, 11px, 700);
  color: var(--title);
  margin-top: 0;
}

// --> show-more
.show-more {
  background: var(--app);
  margin: 30px auto 0;
  text-transform: uppercase;
  color: #FFFFFF;
  @include font(null, 11px, 800);
  width: calc(100vw - 60px);
  max-width: 320px;
  line-height: calc(var(--f7-button-height) + 4px);
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  border-radius: 15px;
  &.active-state {
    color: #FFFFFF;
    background: var(--app);
  }
}

// --> settings_button
.settings_button {
  @include font(null, 12px, 600);
  color: var(--title);
  text-transform: inherit;
}