// --------------------------------------------------
// ==> SCSS: App
// --------------------------------------------------
// --> Global
html, body {
  @include font('Exo', null, 400);
}
.device-cordova.device-ios {
  height: 100vh;
}
    
// --> Page
.page-content {
    background: var(--core);
    padding-top: calc(var(--f7-navbar-height) + var(--f7-safe-area-top));
}

// --> View
.view {
  &.CategoryList, &.CategoryDetail {
    @include position(absolute, calc((((var(--f7-navbar-height) + var(--f7-safe-area-top)) + (var(--f7-navbar-height) + var(--f7-safe-area-top)) / 2) + 85px) + 7.5px), 0, calc(39px * 2), 0);
    width: auto;
    overflow: auto;
    padding: 15px 15px 0 15px;
    height: auto;
    border-radius: 15px 15px 0 0;
    background: var(--core);
    overflow-x: hidden;
  }
  &.Settings {
    @include position(absolute, calc(((var(--f7-navbar-height) + var(--f7-safe-area-top)) + (var(--f7-navbar-height) + var(--f7-safe-area-top)) / 2) - 7.5px), 0, 0, 0);
    width: auto;
    overflow: auto;
    padding: 15px 15px 0 15px;
    height: auto;
    border-radius: 15px 15px 0 0;
    background: var(--core);
    overflow-x: hidden;
  }
  &.Training {
    background: var(--core);
    @include position(absolute, 0, 0, 0, 0);
    overflow: auto;
    height: auto;
    overflow-x: hidden;
  }
}

// --> Title
.block-title {
  text-transform: uppercase;
  @include font(null, 11px, 700);
  color: var(--title);
  margin-top: 0;
}

// --> show-more
.show-more {
  background: var(--app);
  margin: 30px auto 0;
  text-transform: uppercase;
  color: #FFFFFF;
  @include font(null, 11px, 800);
  width: calc(100vw - 60px);
  max-width: 320px;
  line-height: calc(var(--f7-button-height) + 4px);
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  border-radius: 15px;
  &.active-state {
    color: #FFFFFF;
    background: var(--app);
  }
}

// --> settings_button
.settings_button {
  @include font(null, 12px, 600);
  color: var(--title);
  text-transform: inherit;
}

// --> toggle
.toggle {
  .toggle-icon {
    background: var(--theme);
    &::after {
      background: var(--app) !important;
    }
  }
  input:checked {
    + .toggle-icon {
      background: lighten($color: #3A56A5, $amount: 25) !important;
    }
    &::after {
      background: var(--app) !important;
    }
  }
}

.read-mode {
  margin-bottom: 15px;
  padding: 15px 0;
  text-align: center;
  background: var(--app);
  color: var(--theme);
  height: calc(50vh - 50px - 56px);
  display: table;
  width: 100%;
  div {
    .read-content {
      margin-top: 7.5px;
    }
  }
  .read-div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.space {
  margin-bottom: 15px;
}

.list.detail {
  margin-top: 15px;
}

.material-icons {
  color: var(--app);
  &.training {
    color: var(--theme);
    margin-top: 15px;
  }
}

.word {
  @include font(null, 18px, 700);
}
.word-speak {
  @include font(null, 15px, 400);
}

.swiper-container {
  height: 100%;
}
.swiper-button-prev, .swiper-button-next {
  top: inherit;
  bottom: 0;
  color: var(--title);
  &::after {
    font-size: 24px;
  }
}

