// --------------------------------------------------
// ==> SCSS: App
// --------------------------------------------------
// --> Header
.header {
  &.statistics {
    width: 100%;
    @include position(fixed, 0, 0, null, 0);
    background: var(--app);
    text-transform: uppercase;
    padding-top: calc(var(--f7-navbar-height) + var(--f7-safe-area-top));
    .row {
      @include grid(grid, repeat(auto-fit, minmax(calc(100% / 3), 1fr)), center, center, center);
      height: 85px;
      margin: 0;
      padding-bottom: 30px;
      background: var(--theme);
      border-radius: 25px 25px 0 0;
      box-shadow: 0 0 7.5px var(--core);
      .col {
        padding: 15px 0;
        width: 100%;
        &:nth-child(2) {
          border-left: 1px solid var(--border);
          border-right: 1px solid var(--border);
        }
        span {
          display: block;
          &:nth-child(1) {
            @include font(null, 15px, 700);
          }
          &:nth-child(2) {
            @include font(null, 10px, 700);
            color: var(--title);
          }
          &:nth-child(3) {
            @include font(null, 12px, 700);
          }    
        }
      }
      &.CategoryList {
        .col {
          @each $statistics in $CategoryList {
            &.#{$statistics} {
              span {
                &:nth-child(1), &:nth-child(3) {
                  color: var(--#{$statistics});
                }
              }
            }
          }
        }
      }
      &.CategoryDetail {
        .col {
          @each $statistics in $CategoryDetail {
            &.#{$statistics} {
              span {
                &:nth-child(1), &:nth-child(3) {
                  color: var(--#{$statistics});
                }
              }
            }
          }
        }
      }
    }
  }
  &::before {
    content: "";
    @include position(absolute, null, 0, 0, 0);
    background: var(--core);
    height: 30px;
    border-radius: 25px 25px 0 0;
  }
}