svg {
  &[data-name="translation"] {
    g {
      fill: var(--title);
      stroke: var(--title);
    }
    path {
      &:nth-child(2) {
        stroke: var(--app);
      }
      &:nth-child(4) {
        fill: var(--app);
      }
    }
  }
  &[data-name="sound"] {
    polygon {
      stroke: var(--title);
    }
    path {
      stroke: var(--app);
    }
  }
  &[data-name="drag-down"] {
    path, line, polyline {
      stroke: var(--theme);
    }
  }
  &[data-name="e-remove"] {
    line {
      stroke: #FFF;
    }
  }
  &[data-name="smile"] {
    circle, path {
      stroke: var(--theme);
    }
    circle:nth-child(3) {
      stroke: transparent;
    }
    circle:nth-child(5), circle:nth-child(6) {
      fill: var(--theme);
    }
  }
  &[data-name="sad"] {
    circle:nth-child(1), circle:nth-child(2) {
      stroke: var(--theme);
    }
    circle:nth-child(3) {
      stroke: transparent;
    }
    path {
      stroke: white;
    }
    circle:nth-child(5), circle:nth-child(6) {
      fill: white;
    }
  }
  &[data-name="speechless"] {
    line {
      stroke: var(--theme);
    }
    circle:nth-child(2), circle:nth-child(3) {
      stroke: var(--theme);
    }
    circle:nth-child(4) {
      stroke: transparent;
    }
    circle:nth-child(5), circle:nth-child(6) {
      fill: var(--theme);
    }
  }
}