// --------------------------------------------------
// ==> SCSS: App
// --------------------------------------------------
// --> List
.list {
  margin: 0 15px;
  ul {
    background: transparent;
    li {
      margin-bottom: 7.5px;
      &:last-child {
        margin-bottom: 0;
      }
      .list-item {
        background: var(--theme);
        @include transition(all 300ms ease-in-out);
        .item-media {
          i {
            color: var(--app);
            @include transition(all 300ms ease-in-out);
          }
        }
        .item-inner {
          .item-title {
            @include font(null, 13px, 600);
            color: var(--title);
            @include transition(all 300ms ease-in-out);
          }
          .item-after {
            div {
              span {
                @include font(null, 11px, 700);
                padding: 0;
                color: var(--title);
                text-align: right;
                display: block;
                height: calc(43px / 3);
                line-height: calc(43px / 3);
                @include transition(all 300ms ease-in-out);
                @each $statistics in $CategoryList {
                  &.#{$statistics} {
                    color: var(--#{$statistics});
                  }
                }
              }
            }
            &::after {
              background-color: transparent;
            }
          }
        }
      }
      &.active {
        .list-item {
          padding: 0px 15px 0 calc((var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left) + 15px ));
          margin: 0 -15px;
          border-radius: 25px;
          background: var(--app);
          .item-media {
            i {
              color: #FFFFFF;
            }
          }
          .item-inner {
            .item-title {
              color: #FFFFFF;
            }
            .item-after {
              div {
                span {
                  color: #FFFFFF;
                }
              }
            }
          }
        }
      }
    }
  }
}