// --------------------------------------------------
// ==> SCSS: App
// --------------------------------------------------
// --> Navbar
.navbar {
  .navbar-bg {
    background: var(--app);
  }
  .navbar-inner {
    .link {
      color: var(--navbar-icon);
      --f7-touch-ripple-color: var(--f7-touch-ripple-white);
    }
    .title {
      width: 100%;
      text-align: center;
      span {
        @include font(null, 15px, 700);
        color: var(--navbar-title);
        text-transform: uppercase;
      }
    }
  }
}