// --------------------------------------------------
// ==> SCSS --> APP: Import
// --------------------------------------------------

@import 'partials/_variables';
@import 'partials/_functions';
@import 'partials/_placeholders';
@import 'partials/_mixins';
@import 'partials/_fonts';
@import 'partials/_icons';

// --------------------------------------------------
// ==> SCSS --> APP: Global
// --------------------------------------------------

html, body {
  height: 100vh;
  @include font($family: "Exo 2", $size: 16px, $weight: 400);
}

rect, circle, line, polyline, path {
  @include transition($property: var(--app-transition-property), $duration: var(--app-transition-duration), $timing-function: var(--app-transition-timing-function));
}
// --------------------------------------------------
// ==> SCSS --> APP: Navbar
// --------------------------------------------------

.navbar {

  $name: "navbar";

  &-main {

    $type: "main";

    .#{$name}-bg {
      background-color: var(--#{$name}-#{$type}-bg--background-color);
      @extend %-pattern;
    }

    .#{$name}-title {
      width: 100%;
      color: var(--#{$name}-#{$type}-title--color);
      text-align: var(--#{$name}-#{$type}-title--text-align);
      @include font($size: var(--#{$name}-#{$type}-title--font-size), $weight: var(--#{$name}-#{$type}-title--font-weight));
    }
  }

  &-popup {

    $type: "popup";

  }
}

// --------------------------------------------------
// ==> SCSS --> APP: Header
// --------------------------------------------------

.header {

  $name: "header";

  &-statistics {

    $type: "statistics";

    height: var(--#{$name}-#{$type}--height);
    background-color: var(--#{$name}-#{$type}--background-color);
    padding-bottom: 5em;
    display: flex;
    align-items: center;
    @include position($position: absolute, $top: calc(var(--f7-navbar-height) + var(--f7-safe-area-top)), $right: 0, $bottom: 0, $left: 0);
    @extend %-pattern;
    
    .#{$name}-row {
      background-color: var(--#{$name}-#{$type}-row--background-color);
      border-radius: var(--#{$name}-#{$type}-row--border-radius);
      text-align: center;
      box-shadow: var(--#{$name}-#{$type}-row--box-shadow) var(--#{$name}-#{$type}-row--background-color);
      width: 100%;
      margin: 0 1em;
    }

    .#{$name}-col {
      padding: 0.5em 0;
      width: calc(100% / 3);

      $statistics: ("known", "learning", "unknown");

      @each $variable in $statistics {
        $i: index($statistics, $variable);

        &:nth-child(#{$i}) {

          .#{$name}-count {
            color: var(--#{$name}-#{$type}-#{$variable}-count--color);
            @include font($size: var(--#{$name}-#{$type}-count--font-size), $weight: var(--#{$name}-#{$type}-count--font-weight));
          }

          .#{$name}-type {
            color: var(--#{$name}-#{$type}-#{$variable}-type--color);
            text-transform: lowercase;
            @include font($size: var(--#{$name}-#{$type}-type--font-size), $weight: var(--#{$name}-#{$type}-type--font-weight));
          }
          
          .#{$name}-subtitle {
            color: var(--#{$name}-#{$type}-#{$variable}-subtitle--color);
            text-transform: lowercase;
            @include font($size: var(--#{$name}-#{$type}-subtitle--font-size), $weight: var(--#{$name}-#{$type}-subtitle--font-weight));
          }
        }
      }
    }
  }

  &-simple {

    $type: "simple";

  }
}

// --------------------------------------------------
// ==> SCSS --> APP: Page
// --------------------------------------------------

.page {

  $name: "page";

  .#{$name}-container {
    overflow: auto;
    @include position($position: absolute, $top: calc(var(--page-view--border-radius) / 2), $right: 0, $bottom: 0, $left: 0);
  }

  .#{$name}-title {
    color: var(--#{$name}-title--color);
    padding: 1em;
    @include font($size: var(--#{$name}-title--font-size), $weight: var(--#{$name}-title--font-weight));
  }

  &[data-name="CategoryList"], &[data-name="CategoryDetail"] {

    .#{$name}-content {
      overflow: hidden;
    }

    .#{$name}-view {
      background-color: var(--#{$name}-view--background-color);
      height: auto;
      border-radius: var(--#{$name}-view--border-radius) var(--#{$name}-view--border-radius) 0 0;
      @include position(absolute, $top: calc((var(--f7-navbar-height) + var(--f7-safe-area-top)) + var(--header-statistics--height)), $right: 0, $bottom: calc(3em + var(--button-next--height) + 1px), $left: 0);
    }
  }
}

// --------------------------------------------------
// ==> SCSS --> APP: List
// --------------------------------------------------

.list {

  $name: "list";

  margin: 0;

  ul {
    background-color: transparent;
    margin: 0 2em;

    &::before {
      content: none;
    }
  }

  &-categories {

    .list-item {
      background-color: var(--#{$name}-categories-item--background-color);
      border-radius: var(--#{$name}-categories-item--border-radius);
      margin-bottom: 0.25em;
      @include transition($property: var(--#{$name}-categories--transition-property), $duration: var(--#{$name}-categories--transition-duration), $timing-function: var(--#{$name}-categories--transition-timing-function));

      &:last-child {
        margin-bottom: 0 !important;
      }

      &.active {
        background-color: var(--app-primary);
        margin: 0 -0.5em 0.25em;
        @extend %-pattern;

        svg {
          --app-icon: #FFFFFF;
          --app-icon-colored: #FFFFFF;
        }

        .item-title {
          color: var(--#{$name}-categories-active-title--color);
        }

        .item-count {
          color: var(--#{$name}-categories-active-count--color) !important;
        }


      }
    }

    .item-content {
      border-radius: var(--#{$name}-categories-item--border-radius);
    }

    .item-title {
      color: var(--#{$name}-categories-title--color);
      @include font($size: var(--#{$name}-categories-title--font-size), $weight: var(--#{$name}-categories-title--font-weight));
      @include transition($property: var(--#{$name}-categories--transition-property), $duration: var(--#{$name}-categories--transition-duration), $timing-function: var(--#{$name}-categories--transition-timing-function));
    }

    .item-after {

      $color: ("success", "warning", "error");

      @each $value in $color {
        $i: index($color, $value);

        .item-count:nth-child(#{$i}) {
          color: var(--app-#{$value});
          text-align: right;
          @include font($size: var(--#{$name}-categories-count--font-size), $weight: var(--#{$name}-categories-count--font-weight));
          @include transition($property: var(--#{$name}-categories--transition-property), $duration: var(--#{$name}-categories--transition-duration), $timing-function: var(--#{$name}-categories--transition-timing-function));
        }
      }
    }
  }
}

// --------------------------------------------------
// ==> SCSS --> APP: Footer
// --------------------------------------------------

.footer {

  $name: "footer";

  .#{$name}-single {
    padding: 1em 0;
    border-top: 1px solid var(--#{$name}--border-color);
    @include position($position: absolute, $right: 0, $bottom: 0, $left: 0);

    .#{$name}-buttons {
      width: calc(100% - 2em);
      margin: 0 auto;
    }

    .button-next {
      @include button($type: "next");
    }
  }

  .#{$name}-double {
    padding: 1em 0;
    border-top: 1px solid var(--#{$name}--border-color);
    @include position($position: absolute, $right: 0, $bottom: 0, $left: 0);

    .#{$name}-buttons {
      width: calc(100% - 3em);
      margin: 0 auto;
    }

    .button {
      display: inline-block;
      width: calc((100% / 2) - 0.5em);
      
      &:nth-child(1) {
        float: left;
      }
      &:nth-child(2) {
        float: right;
      }
    }

    .button-training {
      @include button($type: "training");
    }

    .button-practice {
      @include button($type: "practice");
    }
  }
}