// --------------------------------------------------
// ==> SCSS: Variables
// --------------------------------------------------
// --> CategoryList
$CategoryList: ("known", "learning", "unknown");

$app: #3A56A5;
$gradient: radial-gradient( circle farthest-corner at 10% 20%,  rgba(132,81,161,1) 0%, rgba(132,81,161,0.83) 90% );
// --> Light theme
$light-theme: (
  //-> App
  "app": "#3A56A5",
  "border": "#ECECEC",
  "core": "#F4F6F9",
  "theme": "#FFFFFF",
  "title": "#9B9EAB",
  //-> Colors
  "known": "#0DC80D",
  "learning": "#F1A924",
  "unknown": "#FF6A4F",
  //-> Header
  "header": "#FFFFFF",
  //-> Navbar
  "navbar-icon": "#FFFFFF",
  "navbar-title": "#FFFFFF"
);

:root {
  @each $name, $color in $light-theme {
    --#{$name}: #{$color}; 
  }
}

// --> Dark theme
$dark-theme: (
  //-> App
  "app": "#3A56A5", 
  "border": "#131313",
  "core": "#1F1F28",
  "theme": "#272636",
  "title": "#888888",
  //-> Colors
  "known": "#0DC80D",
  "learning": "#F1A924",
  "unknown": "#FF6A4F",
  "read": "#0DC80D",
  "write": "#F1A924",
  "listen": "#FF6A4F",
  //-> Header
  "header": "#FFFFFF",
  //-> Navbar
  "navbar-icon": "#FFFFFF",
  "navbar-title": "#FFFFFF"
);

:root .dark-theme {
  @each $name, $color in $dark-theme {
    --#{$name}: #{$color};
  }
}