/*
--------------------------------------------------
===> CSS: Variables
--------------------------------------------------
*/

/* Variables: Light theme */
:root {
  /* App */
  --app-color: #3A56A5;
  --app-theme: #F5F5FA;
  --app-base: #FFFFFF;
  --app-transition: all 300ms ease-in-out;
  /* Navbar */
  --navbar-color: rgba(0,0,0,.25);
  --navbar-title: #FFFFFF;
  --navbar-icon: #FFFFFF;
  /* Grid */
  --grid-header: #434E60;
  --grid-footer: #9EA3AD;
  --grid-title-active: #FFFFFF;
  --grid-icon-active: #FFFFFF;
  --grid-header-active: rgba(0,0,0,.625);
  --grid-title-active: #FFFFFF;
  --grid-footer-active: rgba(0,0,0,.50);
  --grid-statistics-active: rgba(0,0,0,.50);
  --grid-border-active: rgba(0,0,0,.1250);
  /* Statistics */
  --statistics-category: #FFFFFF;
  --statistics-known: #24BC24;
  --statistics-learning: #EEA31A;
  --statistics-unknown: #F67760;
  --statistics-read: #24BC24;
  --statistics-write: #EEA31A;
  --statistics-listen: #F67760;
  /* Color */
  --color-title: #888888;
}

/* Variables: Dark theme */
:root .dark-theme {

}

/*
--------------------------------------------------
===> CSS: Fonts
--------------------------------------------------
*/

/* Exo: Thin */
@font-face {
  font-family: 'Exo';
  font-weight: 100;
  src: local('Exo Thin'), local('Exo-Thin'), url(../fonts/Exo-Thin.ttf) format('truetype');
}

/* Exo: ExtraLight */
@font-face {
  font-family: 'Exo';
  font-weight: 200;
  src: local('Exo ExtraLight'), local('Exo-ExtraLight'), url(../fonts/Exo-ExtraLight.ttf) format('truetype');
}

/* Exo: Light */
@font-face {
  font-family: 'Exo';
  font-weight: 300;
  src: local('Exo Light'), local('Exo-Light'), url(../fonts/Exo-Light.ttf) format('truetype');
}

/* Exo: Regular */
@font-face {
  font-family: 'Exo';
  font-weight: 400;
  src: local('Exo Regular'), local('Exo-Regular'), url(../fonts/Exo-Regular.ttf) format('truetype');
}

/* Exo: Medium */
@font-face {
  font-family: 'Exo';
  font-weight: 500;
  src: local('Exo Medium'), local('Exo-Medium'), url(../fonts/Exo-Medium.ttf) format('truetype');
}

/* Exo: SemiBold */
@font-face {
  font-family: 'Exo';
  font-weight: 600;
  src: local('Exo SemiBold'), local('Exo-SemiBold'), url(../fonts/Exo-SemiBold.ttf) format('truetype');
}

/* Exo: Bold */
@font-face {
  font-family: 'Exo';
  font-weight: 700;
  src: local('Exo Bold'), local('Exo-Bold'), url(../fonts/Exo-Bold.ttf) format('truetype');
}

/* Exo: ExtraBold */
@font-face {
  font-family: 'Exo';
  font-weight: 800;
  src: local('Exo ExtraBold'), local('Exo-ExtraBold'), url(../fonts/Exo-ExtraBold.ttf) format('truetype');
}

/* Exo: Black */
@font-face {
  font-family: 'Exo';
  font-weight: 900;
  src: local('Exo Black'), local('Exo-Black'), url(../fonts/Exo-Black.ttf) format('truetype');
}

/*
--------------------------------------------------
===> CSS: Styles
--------------------------------------------------
*/

/* Basic */
html, body {
  font-family: 'Exo';
  font-weight: 400;
}



/* Header */
.CategoryList.header, .CategoryDetail.header {
  width: 100%;
  height: auto;
  background-color: var(--app-color);
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/doodles.png");
  background-blend-mode: multiply;
  background-repeat: repeat;
  animation: animatedBackground 40s linear infinite;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: var(--navbar-height);
  text-transform: uppercase;
  z-index: 10;
  margin-bottom: 15px;
}
.CategoryList.header .row, .CategoryDetail.header .row {
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(calc(100% / 3), 1fr) );
  height: 93px;
  text-align: center;
}
.CategoryList.header .row .col, .CategoryDetail.header .row .col {
  padding: 15px 0;
  width: 100%;
}
.CategoryList.header .row .col span, .CategoryDetail.header .row .col span {
  display: block;
}
.CategoryList.header .row .col span:nth-child(1), .CategoryDetail.header .row .col span:nth-child(1) {
  font-weight: 800;
  font-size: 18px;
}
.CategoryList.header .row .col span:nth-child(2), .CategoryDetail.header .row .col span:nth-child(2) {
  font-weight: 700;
  font-size: 12px;
  color: var(--statistics-category);
}
.CategoryList.header .row .col span:nth-child(3), .CategoryDetail.header .row .col span:nth-child(3) {
  font-weight: 800;
  font-size: 12px;
}
.CategoryList.header .row .col.known span:nth-child(1), .CategoryList.header .row .col.known span:nth-child(3) {
  color: var(--statistics-known);
}
.CategoryList.header .row .col.learning span:nth-child(1), .CategoryList.header .row .col.learning span:nth-child(3) {
  color: var(--statistics-learning);
}
.CategoryList.header .row .col.unknown span:nth-child(1), .CategoryList.header .row .col.unknown span:nth-child(3) {
  color: var(--statistics-unknown);
}
.CategoryDetail.header .row .col.read span:nth-child(1), .CategoryDetail.header .row .col.read span:nth-child(3) {
  color: var(--statistics-read);
}
.CategoryDetail.header .row .col.write span:nth-child(1), .CategoryDetail.header .row .col.write span:nth-child(3) {
  color: var(--statistics-write);
}
.CategoryDetail.header .row .col.listen span:nth-child(1), .CategoryDetail.header .row .col.listen span:nth-child(3) {
  color: var(--statistics-listen);
}

/* Page */
.CategoryList.page, .CategoryDetail.page {
  top: 164px;
  overflow: auto;
  bottom: 66px;
  height: auto;
  background: var(--app-theme);
  padding: 0 30px;
}

/* Title */
.CategoryList.title, .CategoryDetail.title {
  height: 15px;
  line-height: 15px;
  padding-bottom: 7.5px
}
.CategoryList.title span, .CategoryDetail.title span {
  font-weight: 800;
  margin: 0 7.5px 0 -15px;
  font-size: 11px;
  color: var(--color-title);
  text-transform: uppercase;
  padding-top: 15px;
}

/* Grid */
.CategoryList.grid {
  text-transform: uppercase;
}
.CategoryList.grid .list {
  margin: 0;
}
.CategoryList.grid div ul li .grid-item {
  background: var(--app-base);
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid var(--grid-border-active);
  padding-top: 1px;
}
.CategoryList.grid div ul li .grid-item.active {
  background: var(--app-color);
  margin: 0 -15px;
  border-bottom: 1px solid var(--grid-border-active);
}
.CategoryList.grid div ul li div .item-inner .item-title {
  color: var(--app-color);
  font-size: 12px;
  font-weight: 700;
  transition: var(--app-transition);
}
.CategoryList.grid div ul li div.active .item-inner .item-title {
  color: var(--grid-title-active);
}
.CategoryList.grid div ul li div .item-media i {
  color: var(--app-color);
  transition: var(--app-transition);
}
.CategoryList.grid div ul li div.active .item-media i {
  color: var(--grid-icon-active);
}
.CategoryList.grid div ul li div .item-inner .item-after span {
  font-weight: 800;
  font-size: 12px;
  transition: var(--app-transition);
  padding: 0;
  text-align: right;
  display: block;
  height: calc(43px / 3);
  line-height: calc(43px / 3);
}
.CategoryList.grid div ul li div .item-inner .item-after span:first-child {
  padding-left: 0;
}
.CategoryList.grid div ul li div .item-inner .item-after span:last-child {
  padding-right: 0;
}
.CategoryList.grid div ul li div .item-inner .item-after span.known {
  color: var(--statistics-known);
}
.CategoryList.grid div ul li div .item-inner .item-after span.learning {
  color: var(--statistics-learning);
}
.CategoryList.grid div ul li div .item-inner .item-after span.unknown {
  color: var(--statistics-unknown);
}
.CategoryList.grid div ul li div.active .item-inner .item-after span {
  color: var(--grid-statistics-active);
}
.CategoryList.grid div ul li div .item-inner .item-after {
  color: var(--grid-footer);
}
.CategoryList.grid div ul li div.active .item-inner .item-after {
  color: var(--grid-footer-active);
}
.CategoryList.grid div ul li div .item-inner:after {
  display: none;
}

/* Footer */
.CategoryList.footer, .CategoryDetail.footer {
  height: 66px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: var(--app-theme);
}
.CategoryList.footer a, .CategoryDetail.footer a {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  width: calc(100% - 30px);
  margin: 15px auto 0;
  font-size: 11px;
  font-weight: 900;
  border: 2px solid var(--app-color);
  background: var(--app-color);
  color: #FFFFFF;
  box-shadow: 0 0 2.5px var(--app-color);
}
.CategoryDetail.footer a {
  display: inline-block;
  width: calc((100% / 2) - 22.5px);
}
.CategoryDetail.footer a:nth-child(1) {
  position: absolute;
  left: 15px;
}
.CategoryDetail.footer a:nth-child(2) {
  position: absolute;
  right: 15px;
}

/* Accordion */
.CategoryDetail.accordion {
  margin: 0 -15px;
}
.CategoryDetail.accordion .list {
  margin: 0;
}


/* -------------------------------------------------------------------------------------------------------- */

/* Global */
:root {
  /* Navbar */
  --navbar-height: 56px;
  /* Grid */
  --grid-column: calc(320px / 3);
}

/* Dark theme */
:root .dark-theme {
  /* App */
  --app-color: #3A56A5;
  --app-theme: #222A40;

  /* Category */
  --category-title: #FFFFFF75;
  /* Grid */
  --grid-color: #1D222F;
  --grid-title: #FFFFFF75;
  --grid-title-active: #FFFFFF;
  --grid-icon: #3A56A5;
  --grid-icon-active: #1E3165;
  --grid-statistics: #FFFFFF25;
  --grid-statistics-active: #FFFFFF50;
  --grid-hr: #1D222F;
  --grid-hr-active: #2E4586;
}

/*
--------------------------------------------------
===> CSS: Icons
--------------------------------------------------
*/

/* Material Icons Font */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* Framework7 Icons Font */
@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
       url("../fonts/Framework7Icons-Regular.woff") format("woff"),
       url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}
.f7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  text-align: center;
}

/*
--------------------------------------------------
===> CSS: Keyframes
--------------------------------------------------
*/

/* AnimatedBackground */
@keyframes animatedBackground {
  100% {
      background-position: 400px 400px;
  }
}

/*
--------------------------------------------------
===> CSS: Styles
--------------------------------------------------
*/

/* Reset */
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.device-cordova.device-ios {
  height: 100vh;
}

/* Page */
.page-content {
  margin: 0 -1px;
  background: var(--app-theme);
  padding-top: var(--navbar-height);
}



/* CategoryList, CategoryDetail: Header */


/* CategoryList: Content */











.category-list.title span, .category-detail.title span {
  font-family: 'Exo:7';
  font-size: 12px;
  color: var(--category-title);
}





.category-list.grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(160px, 1fr) );
  border-top: 1px solid var(--grid-color);
  border-left: 1px solid var(--grid-color);
  text-transform: uppercase;
}
.category-list.grid .grid-item {
  background: var(--app-theme);
  border-bottom: 1px solid var(--grid-color);
  border-right: 1px solid var(--grid-color);
  color: var(--grid-title);
  transition: all 0.3s ease;
}
.category-list.grid .grid-item.active {
  background: var(--app-color);
}
.category-list.grid .grid-item .category {
  width: 100%;
  position: relative;
  height: 54px;
}
.category-list.grid .grid-item .category i {
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--grid-icon);
  transition: all 0.3s ease;
}
.category-list.grid .grid-item.active .category i {
  color: var(--grid-icon-active);
}
.category-list.grid .grid-item .category span {
  font-size: 12px;
  font-family: 'Exo:6';
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.3s ease;
}
.category-list.grid .grid-item.active .category span {
  color: var(--grid-title-active);
}
.category-list.grid .grid-item .category .hr {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background: var(--grid-hr);
  width: 15px;
  height: 3px;
  transition: all 0.3s ease;
}
.category-list.grid .grid-item.active .category .hr {
  background: var(--grid-hr-active);
}
.category-list.grid .grid-item .statistics {
  position: relative;
  height: 25px;
  line-height: 25px;
}
.category-list.grid .grid-item .statistics .title {
  position: absolute;
  top: 0;
  left: 15px;
  font-family: 'Exo:7';
  font-size: 10px;
  color: var(--grid-statistics);
  transition: all 0.3s ease;
}
.category-list.grid .grid-item.active .statistics .title {
  color: var(--grid-statistics-active);
}
.category-list.grid .grid-item .statistics .statistics-numbers {
  position: absolute;
  top: 0;
  right: 15px;
  font-family: 'Exo:7';
  font-size: 10px;
  color: var(--grid-color);
  transition: all 0.3s ease;
}
.category-list.grid .grid-item.active .statistics .statistics-numbers {
  color: var(--grid-hr-active);
}
.category-list.grid .grid-item .statistics .statistics-numbers .number.known {
  color: var(--statistics-known)
}
.category-list.grid .grid-item .statistics .statistics-numbers .number.learning {
  color: var(--statistics-learning)
}
.category-list.grid .grid-item .statistics .statistics-numbers .number.unknown {
  color: var(--statistics-unknown)
}
.category-detail.grid {
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(var(--grid-column), 1fr) );
}
.category-detail.grid .radio {
  width: 100%;
  font-size: 12px;
  font-family: 'Exo:7';
}
.category-detail.grid .radio:nth-child(2) {
  width: calc(100% - 2px);
}
.category-detail.grid .radio input[type="radio"] {
	opacity: 0;
	width: 0;
  height: 0;
}

.category-detail.grid .radio input[type="radio"]:active ~ label {
  opacity: 1;
}

.category-detail.grid .radio input[type="radio"]:checked ~ label {
  opacity: 1;
	border: 1px solid black;
}
.category-detail.grid .radio label {
  border: 1px solid black;
	display: block;
	height: 100%;
	width: 100%;
	cursor: pointer;
	opacity: .5;
	transition: all .5s ease-in-out;
}
.category-detail.grid .radio label:hover, .category-detail.grid .radio label:focus, .category-detail.grid .radio label:active {
  border: 1px solid red;
}

.category-detail.footer a {
  display: inline-block;
  position: absolute;
}
.category-detail.footer a:nth-child(1) {
  left: 15px;
  width: calc((50% - 15px) - 7.5px);
}
.category-detail.footer a:nth-child(2) {
  right: 15px;
  width: calc((50% - 15px) - 7.5px);
}