/*
--------------------------------------------------
===> CSS: Variables
--------------------------------------------------
*/

/* Variables: Light theme */
:root {
    /* Colors */
    --app: #3A56A5;
    --base: #FFFFFF;
    --theme: #F5F5FA;
    --known: #0DC80D;
    --learning: #F1A924;
    --unknown: #FF6A4F;
    --border: #F9F9F9;
    --title: #555555;




    --block-title: #999999;
    --transition: 300ms ease;
}


/*
--------------------------------------------------
===> CSS: Styles
--------------------------------------------------
*/

/* Base */
html, body {
    font-family: 'Exo';
    font-weight: 400;
}
/* Navbar */
.navbar-bg {
    background: transparent;
}
.navbar-inner .title {
    width: 100%;
    text-align: center;
}
.navbar-inner .title span {
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}
.navbar-inner a {
    color: #FFFFFF;
    --f7-touch-ripple-color: var(--f7-touch-ripple-white);
}
/* Header */
.header-statistics {
    width: 100%;
    height: auto;
    background: var(--app);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: calc(var(--f7-navbar-height) + var(--f7-safe-area-top));
    text-transform: uppercase;
}
.header-statistics .row {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(calc(100% / 3), 1fr) );
    height: 82px;
    text-align: center;
    margin: 0 15px;
    background: var(--base);
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 2.5px var(--base);
}
.header-statistics .header-corners {
    width: 100%;
    height: 30px;
    border-radius: 25px 25px 0 0;
    background: var(--theme);
}
.header-statistics .row .col:nth-child(2) {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}
.statistics.col {
    padding: 15px 0;
    width: 100%;
}
.statistics.col span {
    display: block;
}
.statistics.col span:nth-child(1) {
    font-size: 15px;
    font-weight: 700;  
}
.statistics.col span:nth-child(2) {
    font-size: 10px;
    font-weight: 500;
    color: var(--title);    
}
.statistics.col span:nth-child(3) {
    font-size: 10px;
    font-weight: 700;  
}
.statistics.col.known span:nth-child(1), .statistics.col.known span:nth-child(3), .list ul li.list-item .item-content .item-inner .item-after div span:nth-child(1) {
    color: var(--known);
}
.statistics.col.learning span:nth-child(1), .statistics.col.learning span:nth-child(3), .list ul li.list-item .item-content .item-inner .item-after div span:nth-child(2) {
    color: var(--learning);
}
.statistics.col.unknown span:nth-child(1), .statistics.col.unknown span:nth-child(3), .list ul li.list-item .item-content .item-inner .item-after div span:nth-child(3) {
    color: var(--unknown);
}
/* Page */
.page-content {
    background: var(--theme);
}
.CategoryListView {
    position: absolute;
    bottom: 66px;
    top: 168px;
    left: 0;
    right: 0;
    width: auto;
    overflow: auto;
    padding: 15px 15px 0 15px;
    background: var(--theme);
    z-index: 100;
    border-radius: 25px 25px 0 0;
}
























.block-title {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: var(--block-title);
    margin-top: 0;
}
/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100% - 30px);
    background: var(--app);
    border-radius: 25px;
    margin: 15px auto;
}
.footer a {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 11px;
    box-shadow: 0 0 2.5px var(--app);
    border: 1px solid var(--app);
    --f7-touch-ripple-color: var(--f7-touch-ripple-white);
    width: 100%;
    border-radius: 25px;
}
.footer a.active-state {
    color: #FFFFFF;
}

/* */
.list {
    margin: 0 15px;
}
.list ul li.list-item, .list ul li.list-item .item-content {
    transition: all var(--transition);
    background: var(--base);
}
.list ul li.list-item.active .item-content {
    padding: 0px 15px 0 calc((var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left) + 15px ));
    margin: 0 -15px;
    background: var(--app);
}
.list ul li.list-item .item-content .item-media i {
    color: var(--app);
    transition: all var(--transition);
}
.list ul li.list-item.active .item-content .item-media i {
    color: #FFFFFF;
    transition: all var(--transition);
}
.list ul li.list-item .item-content .item-inner .item-title {
    font-weight: 600;
    font-size: 14px;
    color: var(--title); 
    transition: all var(--transition);
}
.list ul li.list-item.active .item-content .item-inner .item-title {
    color: #FFFFFF;
}
.list ul li.list-item .item-content .item-inner .item-after div span {
    font-weight: 700;
    font-size: 11px;
    transition: all var(--transition);
    padding: 0;
    color: #555;
    text-align: right;
    display: block;
    height: calc(43px / 3);
    line-height: calc(43px / 3);
}
.list ul li.list-item.active .item-content .item-inner .item-after div span {
    color: #FFFFFF;
    transition: all var(--transition);
}