/*
--------------------------------------------------
===> CSS: Variables
--------------------------------------------------
*/

/* Colors: Light theme */
:root {
    /* App */
    --color-app: #3A56A5; /* Default: #3A56A5 */
    --color-theme: #FFFFFF; /* Default: #FFFFFF */
    /* Navbar */
    --color-navbar: #FFFFFF; /* Default: #FFFFFF */
    --color-navbar-title: #555555; /* Default: #555555 */
    --color-navbar-icon: #55555575; /* Default: #55555575 */
    /* Header */
    --color-header-title: #FFFFFF; /* Default: #FFFFFF */
    /* Grid */
    --color-grid: #EBEBEB; /* Default: #EBEBEB */
    --color-grid-icon: #304789; /* Default: #304789 */
    --color-grid-icon-active: #304789; /* Default: #304789 */
    --color-grid-title: #555555; /* Default: #555555 */
    --color-grid-title-active: #FFFFFF; /* Default: #FFFFFF */
    --color-grid-counter: #55555575; /* Default: #55555575 */
    --color-grid-counter-active: #FFFFFF75; /* Default: #FFFFFF75 */
    /* Colors */
    --color-known: #24BC24; /* Default: #24BC24 */
    --color-learning: #EEA31A; /* Default: #EEA31A */
    --color-unknown: #F67760; /* Default: #F67760 */
    /* Category */
    --color-category-title: #555555; /* Default: #555555 */
}
/* Colors: Dark theme */
:root .dark-theme {
    /* App */
    --color-app: #3A56A5; /* Default: #3A56A5 */
    --color-theme: #222A40; /* Default: #222A40 */
    /* Navbar */
    --color-navbar: #222A40; /* Default: #222A40 */
    --color-navbar-title: #FFFFFF; /* Default: #FFFFFF */
    --color-navbar-icon: #FFFFFF50; /* Default: #FFFFFF50 */
    /* Header */
    --color-header-title: #FFFFFF; /* Default: #FFFFFF */
    /* Grid */
    --color-grid: #1F232F; /* Default: #1F232F */
    --color-grid-icon: #304789; /* Default: #304789 */
    --color-grid-icon-active: #304789; /* Default: #304789 */
    --color-grid-title: #999999; /* Default: #999999 */
    --color-grid-title-active: #FFFFFF; /* Default: #FFFFFF */
    --color-grid-counter: #FFFFFF50; /* Default: #FFFFFF50 */
    --color-grid-counter-active: #FFFFFF75; /* Default: #FFFFFF75 */
    /* Colors */
    --color-known: #24BC24; /* Default: #24BC24 */
    --color-learning: #EEA31A; /* Default: #EEA31A */
    --color-unknown: #F67760; /* Default: #F67760 */
    /* Category */
    --color-category-title: #999999; /* Default: #999999 */
}

/*
--------------------------------------------------
===> CSS: Fonts
--------------------------------------------------
*/

/* Exo Thin */
@font-face {
    font-family: 'Exo:1';
    font-weight: 100;
    src: local('Exo Thin'), local('Exo-Thin'), url(../fonts/Exo-Thin.ttf) format('truetype');
}
/* Exo ExtraLight */
@font-face {
    font-family: 'Exo:2';
    font-weight: 200;
    src: local('Exo ExtraLight'), local('Exo-ExtraLight'), url(../fonts/Exo-ExtraLight.ttf) format('truetype');
}
/* Exo Light */
@font-face {
    font-family: 'Exo:3';
    font-weight: 300;
    src: local('Exo Light'), local('Exo-Light'), url(../fonts/Exo-Light.ttf) format('truetype');
}
/* Exo Regular */
@font-face {
    font-family: 'Exo:4';
    font-weight: 400;
    src: local('Exo Regular'), local('Exo-Regular'), url(../fonts/Exo-Regular.ttf) format('truetype');
}
/* Exo Medium */
@font-face {
    font-family: 'Exo:5';
    font-weight: 500;
    src: local('Exo Medium'), local('Exo-Medium'), url(../fonts/Exo-Medium.ttf) format('truetype');
}
/* Exo SemiBold */
@font-face {
    font-family: 'Exo:6';
    font-weight: 600;
    src: local('Exo SemiBold'), local('Exo-SemiBold'), url(../fonts/Exo-SemiBold.ttf) format('truetype');
}
/* Exo Bold */
@font-face {
    font-family: 'Exo:7';
    font-weight: 700;
    src: local('Exo Bold'), local('Exo-Bold'), url(../fonts/Exo-Bold.ttf) format('truetype');
}
/* Exo ExtraBold */
@font-face {
    font-family: 'Exo:8';
    font-weight: 800;
    src: local('Exo ExtraBold'), local('Exo-ExtraBold'), url(../fonts/Exo-ExtraBold.ttf) format('truetype');
}
/* Exo Black */
@font-face {
    font-family: 'Exo:9';
    font-weight: 900;
    src: local('Exo Black'), local('Exo-Black'), url(../fonts/Exo-Black.ttf) format('truetype');
}
  
/*
--------------------------------------------------
===> CSS: Keyframes
--------------------------------------------------
*/

/* AnimatedBackground */
@keyframes animatedBackground {
    100% {
        background-position: 400px 400px;
    }
}

/*
--------------------------------------------------
===> CSS: Styles
--------------------------------------------------
*/

/* Reset */
p, h1, h2, h3, h4, h5, h6, div, span {
    margin: 0;
    padding: 0;
}
.button.active-state {
    background: var(--color-app);
    color: #FFFFFF;
}

/* Page */
.page-content {
    margin: 0 -1px;
    background: var(--color-theme);
    padding-top: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 220px;
    bottom: 0;
    height: auto;
    width: auto;
    border-top: 1px solid var(--color-grid);
}

/* Navbar */
.navbar {
    text-align: center;
    font-family: 'Exo:8';
    height: 60px;
}
.navbar .navbar-bg {
    background: var(--color-navbar);
}
.navbar .navbar-title {
    width: 100%;
    color: var(--color-navbar-title);
}
.navbar .navbar-title h1 {
    font-size: 15px;
}
.navbar a.link {
    color: var(--color-navbar-icon);
}

/* CategoryList */
.category-list.header {
    width: 100%;
    height: 160px;
    background-color: var(--color-app);
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/doodles.png");
    background-blend-mode: multiply;
    position: relative;
    background-repeat: repeat;
    animation: animatedBackground 30s linear infinite;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
    font-family: 'Exo:9';
    text-align: center;
    text-transform: uppercase;
}
.category-list.header .category-title {
    padding-top: 30px;
    font-size: 12.5px;
    color: var(--color-header-title);
    text-align: center;
    text-transform: uppercase;
}
.category-list.header .category-counter {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(105px, 1fr) );
    min-height: 112px;
}
.category-list.header .category-counter .col {
    padding: 15px 0;
    width: 100%;
}
.category-list.header .category-counter .col .count {
    font-family: 'Exo:7';
    font-size: 18px;
}
.category-list.header .category-counter .col.known .count, .category-list.header .category-counter .col.known .text {
    color: var(--color-known);
}
.category-list.header .category-counter .col.learning .count, .category-list.header .category-counter .col.learning .text {
    color: var(--color-learning);
}
.category-list.header .category-counter .col.unknown .count, .category-list.header .category-counter .col.unknown .text {
    color: var(--color-unknown);
}
.category-list.header .category-counter .col .type {
    font-family: 'Exo:7';
    font-size: 12px;
    color: var(--color-header-title);
}
.category-list.header .category-counter .col .text {
    font-family: 'Exo:7';
    font-size: 12px;
}
.category-list.title {
    text-align: center;
}
.category-list.title h2 {
    text-transform: uppercase;
    font-family: 'Exo:7';
    font-size: 12px;
    color: var(--color-category-title);
}
.category-list.title .separator {
    height: 3px;
    width: 30px;
    margin: 7.5px auto 30px;
    background: var(--color-app);
    border-radius: 50px;
}
.category-list.grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(160px, 1fr) );
    border-top: 1px solid var(--color-grid);
    border-left: 1px solid var(--color-grid);
    text-transform: uppercase;
    font-family: 'Exo:4';
    font-size: 11px;
    margin-bottom: 92px;
}
.category-list.grid .category-item {
    background: var(--color-theme);
    border-bottom: 1px solid var(--color-grid);
    border-right: 1px solid var(--color-grid);
    color: var(--color-grid-title);
    transition: all 0.3s ease;
}
.category-list.grid .category-item.active {
    background: var(--color-app);
}
.category-list.grid .category-item .icon {
    margin: 15px 0;
    color: var(--color-grid-icon);
    transition: all 0.3s ease;
}
.category-list.grid .category-item.active .icon {
    color: var(--color-grid-icon-active);
}
.category-list.grid .category-item h3 {
    margin: 0 5px 0 5px;
    font-family: 'Exo:4';
    font-size: 12px;
    transition: all 0.3s ease;
}
.category-list.grid .category-item.active h3 {
    color: var(--color-grid-title-active);
}
.category-list.grid .category-item .separator {
    height: 3px;
    background: var(--color-grid);
    margin: 7.5px auto;
    width: 15px;
    transition: all 0.3s ease;
}
.category-list.grid .category-item.active .separator {
    background: #304789;
}
.category-list.grid .category-item p {
    font-size: 10px;
    font-family: 'Exo:7';
    color: var(--color-grid-counter);
    transition: all 0.3s ease;
}
.category-list.grid .category-item.active p {
    color: var(--color-grid-counter-active);
}
.category-list.grid .category-item .category-counter {
    margin-bottom: 15px;
    color: var(--color-grid-counter);
}
.category-list.grid .category-item.active .category-counter {
    margin-bottom: 15px;
    color: var(--color-grid-counter-active);
}
.category-list.grid .category-item .category-counter .count {
    font-size: 12px;
    font-family: 'Exo:7';
}
.category-list.grid .category-item .category-counter .count.known {
    color: var(--color-known);
}
.category-list.grid .category-item .category-counter .count.learning {
    color: var(--color-learning);   
}
.category-list.grid .category-item .category-counter .count.unknown {
    color: var(--color-unknown);
}
.category-list.footer {
    height: 92px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: var(--color-theme);
}
.category-list.footer a {
    width: 290px;
    margin: 28px auto;
    letter-spacing: normal;
    font-size: 10px;
    font-family: 'Exo:7';
    border: 2px solid var(--color-app);
    background: var(--color-app);
    color: #FFFFFF;
    box-shadow: 0 0 3px var(--color-app);
}