// --------------------------------------------------
// ==> PLACEHOLDERS: background-pattern
// --------------------------------------------------

%background-pattern {
  background-image: url('../../assets-src/pattern.png');
  background-blend-mode: multiply;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
}