// --------------------------------------------------
// ==> PARTIALS --> VARIABLES: global theme 
// --------------------------------------------------

$app-global: (
  "primary": "#5D9CEC",
  "secondary": "#4A89DC",

  "error": "#FF4929",
  "success": "#29DB29",
  "warning": "#F1A924",
  "dark": "#383F47",

  "transition-property": "all",
  "transition-duration": "300ms",
  "transition-timing-function": "ease-in-out",
  "transition-delay": "0ms",

  "recap-horrible": "violet",
  "recap-bad": "#FF4929",
  "recap-ok": "#ffb629",
  "recap-good": "#5D9CEC",
  "recap-great": "#29DB29"
);

$global-theme: (
  "header": (
    // type
    "statistics": (
      "container": (
        "height": "20vh"
      ),
      "count": (
        "font-size": "16px",
        "font-weight": "700"
      ),
      "row": (
        "border-radius": "10px",
        "box-shadow": "0 0 0.25em"
      ),
      "subtitle": (
        "font-size": "16px",
        "font-weight": "500"
      ),
      "type": (
        "font-size": "14px",
        "font-weight": "500"
      )
    )
  ),
  "list": (
    // type
    "categories": (
      "count": (
        "font-size": "12px",
        "font-weight": "700"        
      ),
      "item": (
        "border-radius": "7px"
      ),
      "title": (
        "font-size": "14px",
        "font-weight": "600"
      )
    )
  ),
  "navbar": (
    // type
    "main": (
      "title": (
        "font-size": "18px",
        "font-weight": "600",
        "text-align": "center"
      )
    ),
    // type
    "popup": (

    )
  ),
  "page": (
    // type
    "button": (
      "default": (
        "height": "42px"
      ),
      "next": (
        "border-radius": "10px",
        "box-shadow": "0 0 0.25em",
        "font-size": "13px",
        "font-weight": "700",
      ),
      "repeat": (
        "border-radius": "10px",
        "box-shadow": "0 0 0.25em",
        "font-size": "13px",
        "font-weight": "700",
      ),
      "practice": (
        "border-radius": "10px",
        "box-shadow": "0 0 0.25em",
        "font-size": "13px",
        "font-weight": "700",
      ),
      "show": (
        "border-radius": "10px",
        "box-shadow": "0 0 0.25em",
        "font-size": "13px",
        "font-weight": "700",
      ),
      "training": (
        "border-radius": "10px",
        "box-shadow": "0 0 0.25em",
        "font-size": "13px",
        "font-weight": "700",
      ),
      "examples": (
        "border-radius": "10px",
        "box-shadow": "0 0 0.25em",
        "font-size": "13px",
        "font-weight": "700",
      ),
      "no": (
        "border-radius": "10px",
        "box-shadow": "0 0 0.25em",
        "font-size": "13px",
        "font-weight": "700",
      ),
      "yes": (
        "border-radius": "10px",
        "box-shadow": "0 0 0.25em",
        "font-size": "13px",
        "font-weight": "700",
      ),
    ),
    // type
    "content": (
      "container": (
        "border-radius": "20px"
      ),
      "title": (
        "font-size": "14px",
        "font-weight": "600",
        "text-transform": "none"
      )
    ),
    // type
    "mode": (
      "label": (
        "font-size": "13px",
        "font-weight": "600"
      ),
      "radio": (
        "border-radius": "10px",
        "box-shadow": "0 0 0.25em"
      ),
      "count": (
        "font-size": "13px",
        "font-weight": "700"
      )
    )
  )
);

:root {
  @each $variable, $value in $app-global {
    --app-#{$variable}: #{$value};
  }
  @each $name, $types in $global-theme {
    @each $type, $elements in $types {
      @each $element, $variables in $elements {
        @each $variable, $value in $variables {
          --#{$name}-#{$type}-#{$element}-#{$variable}: #{$value};
        }
      }
    }
  }
}

// --------------------------------------------------
// ==> PARTIALS --> VARIABLES: light theme
// --------------------------------------------------

$app-light: (
  "background": "#FFFFFF",
  "border": "#DDDDDD",
  "element": "#F0F5FC",
  "icon": "#A5B2C3",
  "ripple": "rgba(0, 0, 0, 0.075)",
  "text": "#586775",
  "title": "#2D353B",
);

$light-theme: (
  "footer": (
    // type
    "double": (
      "container": (
        "border": var(--app-border)
      )
    ),
    // type
    "singular": (
      "container": (
        "border": var(--app-border)
      )
    )
  ),
  "header": (
    // type
    "statistics": (
      "col": (
        "color": var(--app-title)
      ),
      "container": (
        "background-color": var(--app-primary)
      ),
      "known": (
        "color": var(--app-success)
      ),
      "learning": (
        "color": var(--app-warning)
      ),
      "row": (
        "background-color": "#FFFFFF"
      ),
      "unknown": (
        "color": var(--app-error)
      )
    )
  ),
  "list": (
    // type
    "categories": (
      "item": (
        "background-color": var(--app-background)
      ),
      "item-active": (
        "background-color": var(--app-primary)
      ),
      "title": (
        "color": var(--app-text)
      ),
      "ul": (
        "background-color": "transparent"
      )
    )
  ),
  "navbar": (
    // type
    "main": (
      "bg": (
        "background-color": var(--app-secondary)
      ),
      "icon": (
        "color": "#FFFFFF"
      ),
      "title": (
        "color": "#FFFFFF"
      )
    ),
    // type
    "popup": (

    )
  ),
  "page": (
    // type
    "button": (
      "next": (
        "background-color": var(--app-secondary),
        "border": "transparent",
        "color": "#FFFFFF"
      ),
      "repeat": (
        "background-color": var(--app-warning),
        "border": "transparent",
        "color": "#FFFFFF"
      ),
      "practice": (
        "background-color": var(--app-error),
        "border": "transparent",
        "color": "#FFFFFF"
      ),
      "show": (
        "background-color": var(--app-secondary),
        "border": "transparent",
        "color": "#FFFFFF"
      ),
      "training": (
        "background-color": var(--app-success),
        "border": "transparent",
        "color": "#FFFFFF"
      ),
      "examples": (
        "background-color": var(--app-primary),
        "border": "transparent",
        "color": "#FFFFFF"
      ),    
      "no": (
        "background-color": var(--app-error),
        "border": "transparent",
        "color": "#FFFFFF"
      ), 
      "yes": (
        "background-color": var(--app-success),
        "border": "transparent",
        "color": "#FFFFFF"
      )
    ),
    // type
    "content": (
      "container": (
        "background-color": var(--app-element)
      ),
      "title": (
        "color": var(--app-title)
      )
    ),
    // type
    "mode": (
      "label": (
        "color": var(--app-text)
      ),
      "radio": (
        "background-color": var(--app-background)
      )
    )
  )
);

:root {
  @each $variable, $value in $app-light {
    --app-#{$variable}: #{$value};
  }
  @each $name, $types in $light-theme {
    @each $type, $elements in $types {
      @each $element, $variables in $elements {
        @each $variable, $value in $variables {
          --#{$name}-#{$type}-#{$element}-#{$variable}: #{$value};
        }
      }
    }
  }
}

// --------------------------------------------------
// ==> PARTIALS --> VARIABLES: dark theme
// --------------------------------------------------

$app-dark: (
  "variable": "value"
);

$dark-theme: (
  "name": (
    "type": (
      "element": (
        "variable": "value"
      )
    )
  )
);

:root .dark-theme {
  @each $variable, $value in $app-dark {
    --app-#{$variable}: #{$value};
  }
  @each $name, $types in $dark-theme {
    @each $type, $elements in $types {
      @each $element, $variables in $elements {
        @each $variable, $value in $variables {
          --#{$name}-#{$type}-#{$element}-#{$variable}: #{$value};
        }
      }
    }
  }
}
